.tournaments {

}

.tournaments .controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.tournaments .table .tournament_row {
  cursor: pointer;
}

.tournaments .table .tournament_row:hover {
  --bg-color: var(--accent-color);
  --text-color: #000;
}

.tournaments .tournament_input {
  margin-bottom: 12px;
}

.tournaments .rules_inputs {
  display: flex;
}

.tournaments .rules_inputs .rule_input + .rule_input {
  margin-left: 12px;
}

.tournaments .section .title {
  line-height: var(--height);
  font-size: 24px;
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  color: var(--caption-color);
}