{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"jsx": true
	},
	"plugins": ["jest", "import-helpers"],
	"extends": [
		"xo-react/space",
		"xo-space/esnext",
		"xo-space/browser",
		"plugin:unicorn/recommended",
		"plugin:jest/recommended"
	],
	"globals": {
		"page": true,
		"browser": true,
		"context": true,
		"jestPuppeteer": true
	  },
	"rules": {
		"object-curly-spacing": ["error", "always"],
		"comma-dangle": ["error", "always-multiline"],
		"react/prop-types": "none",
		"unicorn/prevent-abbreviations": "none",
		"react/jsx-indent": [2, 2, {
			"indentLogicalExpressions": true,
			"checkAttributes": true
		}],
		"react/jsx-wrap-multilines" : ["error", {
			"declaration": "parens-new-line",
			"assignment": "parens-new-line",
			"return": "parens-new-line",
			"arrow": "parens-new-line",
			"condition": "parens-new-line",
			"logical": "parens-new-line",
			"prop": "parens-new-line"
		}],
		"react/jsx-closing-bracket-location": [
			"error",
			{
				"nonEmpty": "tag-aligned",
				"selfClosing": "tag-aligned"
			}
    ],
    "import-helpers/order-imports": [
      "warn",
      { 
          "newlinesBetween": "always",
          "groups": [
			  "module",
			  "/^assets/",
              "/^components/",
			  "/^constants/",
			  "/^helpers/",
			  "/^hoc/",
			  "/^i18n/",
			  "/^store/",
              ["parent", "sibling", "index"],
          ]
      },
  ],
	}
}