.caption {
  --height: 20px;

  overflow: hidden;
  display: block;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.error {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 4px;
  color: var(--danger-secondary-color);
}
