.wrapper_n {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none !important;
}

.wrapper_n .notification {
  --height: 70px;
  position: absolute;
  overflow: hidden;
  right: 10px;
  top: 10px;
  width: 400px;
  height: var(--height);
  line-height: var(--height);
  padding-left: 20px;
  padding-right: 20px;
  background: var(--accent-color);
  border-left: 8px solid #ad731c;
  box-shadow: 0px 1px 1px #000;
  border-radius: 2px;
  font-size: 15px;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translateX(-50%) translateY(var(--translate));
  opacity: var(--opacity);
  pointer-events: auto;
  transition-property: transform, opacity;
}

.wrapper .notification:not(:global(._is-shown)) {
  --translate: var(--height);
  --opacity: 1;
}

.wrapper .notification:global(._is-shown) {
  --translate: 0;
  --opacity: 1;
}
.notification button{
  position: absolute;
  right: 0;
  top: 0;
}
.notification button svg{
  width: 10px;
}
@media (max-width: 768px) {
  .wrapper_n .notification {
    --height: 50px;
    width: calc(100% - 24px);
    max-width: 400px;
    font-size: 13px;
  }
}