.wrapper_n {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none !important;
}

.wrapper_n .notification {
  --height: 60px;
  position: absolute;
  overflow: hidden;
  left: calc(50% - (600px / 2));
  top: 0px;
  width: 600px;
  height: var(--height);
  line-height: var(--height);
  padding-left: 20px;
  padding-right: 20px;
  background: var(--accent-color);
  border-radius: 4px;
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translateY(calc(var(--translate) * -1));
  opacity: var(--opacity);
  pointer-events: auto;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
}

.wrapper_n .notification:not(:global(._is-shown)) {
  --translate: var(--height);
  --opacity: 0;
}

.wrapper_n .notification:global(._is-shown) {
  --translate: 0;
  --opacity: 1;
}

.notification button {
  position: absolute;
  right: 8px;
  top: 12px;
}

.notification button svg {
  width: 10px;
}

.notification button svg path {
  fill: #000;
}

@media (max-width: 768px) {
  .wrapper_n .notification {
    --height: 50px;
    width: calc(100% - 20px);
    max-width: 400px;
    font-size: 13px;
    left: 10px;
    right: 10px;
    top: 10px;
  }
}