.wrapper {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none !important;
}

.wrapper .notification {
  --height: 50px;
  position: absolute;
  overflow: hidden;
  left: 50%;
  right: 0;
  top: 0;
  width: 600px;
  height: var(--height);
  line-height: var(--height);
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--primary-color);
  border-radius: 2px;
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translateX(-50%) translateY(var(--translate));
  opacity: var(--opacity);
  pointer-events: auto;
  transition-property: transform, opacity;
}

.wrapper .notification:not(:global(._is-shown)) {
  --translate: var(--height);
  --opacity: 0;
}

.wrapper .notification:global(._is-shown) {
  --translate: 0;
  --opacity: 1;
}

@media (max-width: 768px) {
  .wrapper .notification {
    --height: 50px;
    width: calc(100% - 24px);
    max-width: 400px;
    font-size: 13px;
  }
}