.rewards {
  width: 100%;
  display: grid;
  padding-top: 32px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 32px;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.rewards .no_rewards {
  font-weight: 700;
  color: var(--accent-color);
}