.home_page {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.main_block {
  width: 550px;
  margin: 0 auto;
}

main h1 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  color: var(--caption-color);
  text-shadow: 0px 1px 1px #000000;
  /* padding-bottom: 20px; */
  text-align: center;
  text-transform: uppercase;
}

.content {
  margin: 0 auto;
}

.main_block .section .avatar_table {
  width: 30px;
  --height: 30px !important;
  display: flex;
  align-items: center;
  overflow: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.avatar_table img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar_table svg {
  width: 30px;
}

.percent_header {
  padding-top: 10px;
}

.section .current_user {
  background: var(--accent-color) !important;
  --text-color: #fff !important;
}

.is_preloader_table {
  margin-top: 20px;
  background-image: url("assets/table-row.svg");
  height: 590px;
  background-size: 100%;
  opacity: 1;
  animation: loading 0.5s infinite;
}

.is_preloader_card {
  margin-top: 20px;
  background-image: url("assets/card-placeholder.svg");
  background-size: 185px;
  background-repeat: repeat-x;
  height: 200px;
  opacity: 1;
  animation: loading 0.5s infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  0% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .main_block {
    width: 90%;
  }
  .section {
    width: 100%;
  }
  main h1 {
    font-size: 26px;
    text-align: center;
  }
  .name_header {
    padding-left: 25px;
    min-width: 165px;
  }
  .avatar_table {
    width: 20px;
    height: 20px;
  }
  .avatar_table img {
    width: 20px;
  }
  .main_block>.section .avatar_table {
    width: 20px;
    margin: 0;
    height: 20px !important;
  }
  .is_preloader_card {
    background-image: url("assets/card-placeholder-min.svg");
    height: 150px;
    width: 100%;
    background-size: 100px;
  }
  .is_preloader_table {
    background-image: url("assets/table-row-min.svg");
    margin-top: 50px;
  }
}