.rating {
  padding: var(--layout-padding);
}

.main_block {
  max-width: var(--container-width);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main_block h2 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  color: var(--caption-color);
  text-shadow: 0px 1px 1px #000000;
  text-align: center;
  text-transform: uppercase;
}

.main_block .best_icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
}

.main_block .best_icon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section .avatar_table {
  width: 30px;
  --height: 30px !important;
  display: flex;
  align-items: center;
  overflow: auto;
  margin: 0 auto;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar_table img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar_table svg {
  width: 30px;
  height: 30px;
}

.buttons {
  display: flex;
}

.buttons .tab_button {
  background: #ccc;
  color: #000000;
  padding: 6px 24px;
  margin: 6px 12px;
}

.see_all {
  background: var(--accent-color);
  padding: 12px;
  margin: 24px auto 0;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.35s;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  max-width: 190px;
  text-align: center;
}

.see_all:hover {
  background: rgb(255, 182, 25);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 0.3s;
  height: 0;
}

.show {
  opacity: 1;
  visibility: visible;
  display: block;
  transition: 0.3s;
  height: auto;
  width: 100%;
}

.column .row_column {
  background: #121b49;
  margin-bottom: 8px;
  width: 100%;
}

.column .row_column .item>.text {
  --text-color: red;
}

@media screen and (max-width: 768px) {
  .main_block {
    flex-direction: column;
  }
  .main_block .section {
    width: 100%;
    margin-bottom: 24px;
  }
}