.wrapper_modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(153, 153, 153, 0.7);
}
.modal{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  background: #000;
  color: #fff;
  border-radius: 4px;
  padding: 20px;
}
.modal p{
  margin-top: 0;
}

.btns_modal{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.btns_modal button{
  margin-right: 10px;
  font-size: 16px;
}