.tournaments {
  padding: var(--layout-padding);
  display: flex;
  justify-content: center;
}

.tournaments_sidebar {
  padding-top: 30px;
  padding-top: 32px;
}

.tournaments_sidebar button {
  color: #fff;
  padding: 12px;
  margin-bottom: 12px;
  width: 100%;
  background: rgba(81, 147, 84, 0.95);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s;
}

.tournaments_sidebar button:active {
  transform: scale(0.98);
}

.tournaments_sidebar button.active {
  background: var(--accent-color);
  color: #000;
}

.tournaments_sidebar button:hover {
  background: var(--accent-color);
}

.tournaments_sidebar button span {
  text-align: center;
  width: 100%;
}

.tournaments .no_tournaments {
  font-size: 20px;
  font-weight: bold;
  color: var(--accent-color);
  padding-top: 10px;
  padding-left: 24px;
  width: 100%;
}

.wrap_tournaments {
  width: 100%;
  max-width: calc(var(--container-width) - 140px);
  padding: var(--layout-padding);
}

.tournaments .list {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.tournaments .list .item {
  max-width: 100%;
  text-decoration: none;
  transition: 0.3s;
}

.tournaments .list .item .name {
  --height: 30px;

  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournaments .list .item .card {
  margin-top: 12px;
  transition: 0.3s;
}

.tournaments .button {
  --height: 50px;

  position: fixed;
  right: 28%;
  bottom: calc(var(--layout-padding) * 4);
  border-radius: calc(var(--height) / 2);
}

.tournaments .game {
  display: flex;
}

.tournaments .game .game_button {
  margin-right: 20px;
  color: white;
}

@media (max-width: 1920px) {
  .tournaments .button {
    right: 25%;
  }
}

@media (max-width: 1440px) {
  .tournaments .button {
    right: 15%;
  }
}

@media (max-width: 1366px) {
  .tournaments .button {
    right: 12%;
  }
}

@media (max-width: 1280px) {
  .tournaments .button {
    right: 10%;
  }
}

@media (max-width: 1024px) {
  .tournaments .button {
    right: var(--layout-padding);
  }
}

@media (max-width: 768px) {
  .tournaments .list {
    grid-template-columns: 1fr;
  }

  .tournaments {
    flex-direction: column;
    justify-content: flex-start;
  }

  .tournaments_sidebar {
    display: flex;
    justify-content: space-around;
  }

  .tournaments_sidebar button {
    flex-basis: 30%;
  }

  .wrap_tournaments {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
