.tournaments {
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.tournaments .title {
  --height: 40px;
  overflow: hidden;
  height: var(--height);
  margin: 0;
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: #9696b0;
  font-size: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournaments .content {
  display: flex;
  margin-top: 50px;
}

.tournaments .content .sidebar {
  flex-shrink: 0;
  width: 270px;
}

.tournaments .content .sidebar .filter_item:nth-of-type(n+2) {
  margin-top: 16px;
}

.tournaments .content .sidebar .filter_item + .action {
  margin-top: 50px;
}

.tournaments .content .sidebar .action {
  position: relative;
  max-width: 300px;
  padding-bottom: 46px;
}

.tournaments .content .sidebar .action .background {
  width: calc(100% - 40px);
  height: 90px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--primary-color);
}

.tournaments .content .sidebar .action .background .question {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 20px;
  color: var(--accent-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournaments .content .sidebar .action .button {
  position: absolute;
  right: 0;
  top: 40px;
  width: calc(100% - 40px);
  height: 96px;
  padding-left: 40px;
  padding-right: 20px;
  color: #000;
  font-weight: var(--font-weight-bold);
  clip-path: polygon(17% 15%, 100% 0, 100% 100%, 0% 100%);
  font-size: 20px;
  border-radius: 2px;
  border: none;
  background-color: var(--accent-color);
}

.tournaments .content .section {
  flex-grow: 1;
  min-width: 0;
  padding-bottom: 30px;
  margin-left: 30px;
}

@media (max-width: 1064px) {
  .tournaments .content .sidebar {
    width: 230px;
  }
}

@media (max-width: 768px) {
  .tournaments .content {
    flex-direction: column;
  }

  .tournaments .content .sidebar {
    width: 100%;
  }

  .tournaments .content .sidebar .action {
  }

  .tournaments .content .section {
    margin-left: 0;
    margin-top: 30px;
  }
}