.tournament {
  padding-top: calc(var(--layout-padding) * 2);
  padding-bottom: calc(var(--layout-padding) * 2);
}

.tournament .inner_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.tournament .inner_container .info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tournament .inner_container .info .title {
  --height: 26px;

  height: var(--height);
  margin: 20px 0 0 0;
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: var(--caption-color);
  font-size: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.tournament .inner_container .info .date {
  display: flex;
  align-items: flex-end;
}

.tournament .inner_container .info .date .createdAt {
  --height: 40px;

  overflow: hidden;
  height: var(--height);
  margin: 0;
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: var(--caption-color);
  font-size: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.tournament .inner_container .info .date .dateDetails {
  --height: 16px;

  overflow: hidden;
  height: var(--height);
  margin: 0 0 calc(var(--height) / 4) calc(var(--height) / 2);
  line-height: var(--height);
  color: var(--caption-color);
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournament .inner_container .info .button {
  flex-shrink: 0;
  height: var(--information-header-height);
  margin-left: auto;
  line-height: var(--information-header-height);
  font-size: 15px;
  color: var(--color);
  font-weight: 600;
  background-color: transparent;
  transition-property: color;
}

.tournament .inner_container .info .button:not(:hover) {
  --color: var(--accent-color);
}

.tournament .inner_container .info .button:hover {
  --color: #e88c00;
}

.tournament .inner_container .info .button svg {
  fill: #ccc;
  width: 16px;
  margin-left: 6px;
  margin-top: 2px;
}

.tournament .inner_container .info .button:hover svg {
  fill: var(--accent-color);
}

.tournament .inner_container .tournament_section {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tournament .inner_container .tournament_section .actions {
  display: flex;
  flex-shrink: 0;
  margin-left: 30px;
}

.tournament .inner_container .tournament_section .actions .button {
  --height: 44px;

  max-width: 400px;
  margin-left: auto;
  font-size: 18px;
}

.tournament .inner_container .tournament_section .actions .button:nth-of-type(n + 2) {
  margin-left: 10px;
}

.tournament .inner_container .tournament_section + .subtitle {
  margin-top: 40px;
}

.tournament .inner_container .subtitle {
  --height: 28px;

  flex-shrink: 0;
  overflow: hidden;
  max-width: 100%;
  height: var(--height);
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: var(--caption-color);
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournament .inner_container .list {
  flex-shrink: 0;
  display: grid;
  grid-column-gap: 20px;
  margin-top: 16px;
  padding: 20px 12px;
  border-radius: 4px;
  background-color: var(--background-color);
}

.tournament .inner_container .list .item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.tournament .inner_container .list .item:nth-of-type(n + 2)::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #9696b0;
}

.tournament .inner_container .list .item .title {
  --height: 20px;

  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 13px;
  color: var(--header-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournament .inner_container .list .item .value {
  --height: 20px;

  overflow: hidden;
  height: var(--height);
  margin-top: 4px;
  line-height: var(--height);
  font-size: 15px;
  color: var(--header-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournament .inner_container .widgets {
  width: 100%;
  display: grid;
  grid-column-gap: 48px;
  grid-template-columns: 1fr 1.15fr;
  margin-top: 30px;
}

.tournament .inner_container .widgets .playersWidgets {
  display: grid;
  grid-row-gap: 30px;
  grid-column: auto;
}

.tournament .inner_container .widgets > * {
  min-width: 0;
}

@media (max-width: 768px) {
  .tournament .inner_container .title {
    width: 100%;
  }

  .tournament .inner_container .widgets {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .tournament .inner_container .tournament_section {
    flex-direction: column;
    align-items: flex-start;
  }

  .tournament .inner_container .title {
    font-size: 30px;

    --height: 30px;

    margin-bottom: 12px;
  }

  .tournament .inner_container .tournament_section + .subtitle {
    margin-top: 30px;
  }
}
