.tournament {
  padding-top: var(--layout-padding);
  padding-bottom: var(--layout-padding);
}

.tournament .inner_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.tournament .inner_container .title {
  --height: 40px;
  overflow: hidden;
  height: var(--height);
  margin: 0;
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: var(--caption-color);
  font-size: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournament .inner_container .tournament_section {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tournament .inner_container .tournament_section .actions {
  display: flex;
  flex-shrink: 0;
  margin-left: 30px;
}

.tournament .inner_container .tournament_section .actions .button {
  --height: 44px;
  max-width: 400px;
  margin-left: auto;
  font-size: 18px;
}

.tournament .inner_container .tournament_section .actions .button:nth-of-type(n+2) {
  margin-left: 10px;
}

.tournament .inner_container .tournament_section + .subtitle {
  margin-top: 40px;
}

.tournament .inner_container .subtitle {
  --height: 28px;
  flex-shrink: 0;
  overflow: hidden;
  max-width: 100%;
  height: var(--height);
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: var(--caption-color);
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournament .inner_container .list {
  flex-shrink: 0;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin-top: 16px;
  padding: 20px 12px;
  border-radius: 4px;
  background-color: var(--background-color);
}

.tournament .inner_container .list .item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.tournament .inner_container .list .item:nth-of-type(n+2)::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #9696b0;
}

.tournament .inner_container .list .item .title {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 13px;
  color: var(--header-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournament .inner_container .list .item .value {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  margin-top: 4px;
  line-height: var(--height);
  font-size: 15px;
  font-weight: var(--font-weight-bold);
  color: var(--header-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tournament .inner_container .widgets {
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 40px;
}

.tournament .inner_container .widgets.col_3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.tournament .inner_container .widgets > * {
  min-width: 0;
}

@media (max-width: 768px) {
  .tournament .inner_container .widgets.col_3 {
    grid-template-columns: 1fr;
  }
  .tournament .inner_container .tournament_section {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .tournament .inner_container .tournament_section .actions {
    margin-left: 0;
    margin-top: 24px;
  }
}