.bg_wrap {
  position: absolute;
  background: url('../../assets/bg-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 600px;
  opacity: 0.6;
}

.bg_wrap img {
  position: relative;
}

.bg_wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #11162a 85%);
}

.home_page {
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  width: 1200px;
  margin: 0 auto;
}

.tournament_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding-bottom: 20px;
}

.tournament_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tournament_header h2 {
  font-family: var(--font-family-title);
  font-size: 40px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
  margin: 0;
}

.tournament_info {
  display: flex;
}

.tournament_header p {
  font-family: var(--font-family-title);
  margin: 0;
  font-size: 40px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
  padding-left: 40px;
}

.tournament_content h3 {
  font-family: var(--font-family-title);
  line-height: 40px;
  font-size: 32px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
  margin-bottom: 5px;
}

.tournament_team {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.tournament_matches {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tournament_matches p {
  background: var(--background-color);
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  font-size: 20px;
  color: var(--caption-color);
  padding: 8px 24px;
  width: 100%;
  text-align-last: left;
  margin: 5px 0;
}

.tournament_matches p:hover {
  background: var(--accent-color);
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
}

.tournament_matches span {
  margin-right: 30px;
}

.header_leader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header_leader p {
  font-family: var(--font-family-title);
  line-height: 40px;
  font-size: 32px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
  margin-bottom: 0px;
}

.team_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.tournament_bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top_five {
  background: var(--background-color);
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.leader {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  border-bottom: 1px solid #000;
}

.leader:last-child {
  border-bottom: none;
}

.table_leader p {
  font-size: 20px;
  color: var(--caption-color);
  text-align-last: left;
}

.table_leader .number {
  width: 70px;
}

.table_leader .name_leader {
  width: 210px;
}

.table_leader span {
  font-weight: var(--font-weight-bold);
  display: block;
  font-size: 16px;
  background: #9FA2BE;
  box-shadow: 0px 2px 0px #000000;
  padding: 3px;
  padding-left: 10px;
  text-align: left;
  width: 100%;
}

.table_leader .scale {
  width: 58%;
}

.my_number {
  display: flex;
  align-items: center;
  background: var(--background-color);
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  width: 100%;
  padding: 0 20px;
}
.tournament_leader{
  flex-basis: 55%;
}
.tournament_matches{
  flex-basis: 40%;
}

@media screen and (max-width: 1440px){
  .home_page{
    width: 90%;
  }
  .tournament_content{
    width: 100%;
  }
  .tournament_team{
    width: 100%;
  }
  
}
@media screen and (max-width: 768px) {
  .home_page {
    width: 100%;
  }
  .tournament_header{
    padding: 0 10px;
  }
  .tournament_header p {
    font-size: 16px;
  }
  .tournament_header h2 {
    font-size: 18px;
  }
  .tournament_content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .team_block .item {
    padding: 40px 5px 0px;
    background-size: 30px;
    background-position-y: 14px;
    flex-basis: 17%;
    display: flex;
    justify-content: center;
  }
  .tournament_team .item:hover {
    background-size: 30px;
    background-position-y: 14px;
  }
  .team_block .item p {
    font-size: 12px;
    width: 40px;
  }
  .tournament_content h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  .tournament_team {
    width: 100%;
    flex-direction: column;
  }
  .team_block {
    padding: 0 10px;
  }
  .header_leader p {
    font-size: 18px;
    line-height: normal;
  }
  .tournament_matches p {
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
  }
  .tournament_matches span {
    margin-right: 15px;
  }
  .top_five {
    width: 100%;
  }
  .tournament_bottom {
    flex-direction: column;
  }
  .leader {
    margin: 0 10px;
  }
  .leader p {
    font-size: 16px;
  }
  .leader span {
    box-sizing: border-box;
    font-size: 14px;
  }
  .my_number {
    width: 100%
  }
  .my_number {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .my_number p {
    font-size: 16px;
  }
  .my_number span {
    box-sizing: border-box;
    font-size: 14px;
  }
}