.bgWrap {
  position: absolute;
  background: url('../../assets/bg-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 600px;
  opacity: 0.6;
}

.bgWrap img {
  position: relative;
}

.bgWrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #11162a 85%);
}

.homePage {
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  width: 1200px;
  margin: 0 auto;
}

.tournamentContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding-bottom: 20px;
}

.tournamentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tournamentHeader h2 {
  font-family: var(--font-family-title);
  font-size: 40px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
  margin: 0;
}

.tournamentInfo {
  display: flex;
}

.tournamentHeader p {
  font-family: var(--font-family-title);
  margin: 0;
  font-size: 40px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
  padding-left: 40px;
}

.tournamentContent h3 {
  font-family: var(--font-family-title);
  line-height: 40px;
  font-size: 32px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
  margin-bottom: 5px;
}

.tournamentTeam {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.tournamentTeam .item {
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  text-align: center;
  padding: 130px 55px 60px;
  color: #9FA2BE;
  font-weight: var(--font-weight-regular);
  background: url(../../assets/plus-player.svg) no-repeat center 72px, var(--background-color);
  cursor: pointer;
}

.tournamentTeam .item:hover {
  background: url(../../assets/plus-player-black.svg) no-repeat center 72px, var(--accent-color);
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  color: #000;
}

.tournamentMatches {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tournamentMatches p {
  background: var(--background-color);
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  font-size: 20px;
  color: var(--caption-color);
  padding: 8px 24px;
  width: 370px;
  text-align-last: left;
  margin: 5px 0;
}

.tournamentMatches p:hover {
  background: var(--accent-color);
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
}

.tournamentMatches span {
  margin-right: 30px;
}

.headerLeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerLeader p {
  font-family: var(--font-family-title);
  line-height: 40px;
  font-size: 32px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
  margin-bottom: 0px;
}

.teamBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.tournamentBottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.topFive {
  background: var(--background-color);
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  width: 740px;
  margin-bottom: 10px;
}

.leader {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  border-bottom: 1px solid #000;
}

.leader:last-child {
  border-bottom: none;
}

.tableLeader p {
  font-size: 20px;
  color: var(--caption-color);
  text-align-last: left;
}

.tableLeader .number {
  width: 70px;
}

.tableLeader .nameLeader {
  width: 210px;
}

.tableLeader span {
  font-weight: var(--font-weight-bold);
  display: block;
  font-size: 16px;
  background: #9FA2BE;
  box-shadow: 0px 2px 0px #000000;
  padding: 3px;
  padding-left: 10px;
  text-align: left;
  width: 100%;
}

.tableLeader .scale {
  width: 58%;
}

.myNumber {
  display: flex;
  align-items: center;
  background: var(--background-color);
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  width: 700px;
  padding: 0 20px;
}