.wrapper {
  --font-size: 20px;
  --label-color: var(--accent-color);
  display: flex;
  flex-direction: column;
}

.wrapper label {
  color: var(--label-color);
  font-size: var(--font-size);
}

.wrapper input {
  --height: 40px;
  --border-radius: 4px;
  --background-color: var(--primary-color);
  --color: #fff;
  height: var(--height);
  padding-left: calc(var(--height) * 0.25);
  padding-right: calc(var(--height) * 0.25);
  font-size: var(--font-size);
  color: var(--color);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}