.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper label {
  --height: 20px;
  height: var(--height);
  line-height: var(--height);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  color: var(--accent-color);
}

.wrapper input {
  --input-padding: 10px;
  height: 40px;
  padding-left: var(--input-padding);
  padding-right: var(--input-padding);
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
}