.information {
  min-width: 0;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.information .controls {
  display: flex;
}

.information .controls > button:not(:first-of-type) {
  margin-left: 12px;
}

.information .description {
  margin-top: 30px;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}

.information .description h1:not(:first-child):not(:only-child),
.information .description h2:not(:first-child):not(:only-child),
.information .description h3:not(:first-child):not(:only-child),
.information .description h4:not(:first-child):not(:only-child),
.information .description h5:not(:first-child):not(:only-child),
.information .description ul:not(:first-child):not(:only-child),
.information .description ol:not(:first-child):not(:only-child),
.information .description table:not(:first-child):not(:only-child),
.information .description img:not(:first-child):not(:only-child),
.information .description p:not(:first-child):not(:only-child) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.information .description h1:first-child:not(:only-child),
.information .description h2:first-child:not(:only-child),
.information .description h3:first-child:not(:only-child),
.information .description h4:first-child:not(:only-child),
.information .description h5:first-child:not(:only-child),
.information .description ul:first-child:not(:only-child),
.information .description ol:first-child:not(:only-child),
.information .description table:first-child:not(:only-child),
.information .description img:first-child:not(:only-child),
.information .description p:first-child:not(:only-child) {
  margin-bottom: 10px;
}

.information .description h1 {
  font-size: 30px;
}

.information .description h2 {
  font-size: 26px;
}

.information .description h3 {
  font-size: 23px;
}

.information .description h4 {
  font-size: 19px;
}

.information .description h5 {
  font-size: 16px;
}

.information .description table {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  border-collapse: collapse;
  white-space: nowrap;
}

.information .description tr th,
.information .description tr td {
  padding: 4px 8px;
  border: 1px solid var(--accent-color);
}

.information .description img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.information .description a {
  color: var(--accent-color);
}

.information .description ul,
.information .description ol {
  padding-left: 15px;
}

.information .description .readmore {
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--accent-color);
}

.information .content {
  flex-grow: 1;
  min-width: 0;
}

.information .content .info {
  display: flex;
  flex-direction: column;
}

.information .content .info .item {
  display: flex;
}

.information .content .info .item + .item {
  margin-top: 8px;
}

.information .content .info .item .key {
  --height: 20px;

  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  color: var(--header-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.information .content .info .item .value {
  --height: 20px;

  position: relative;
  padding-right: 16px;
  font-size: 16px;
  margin-left: 8px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-weight: var(--font-weight-bold);
  color: var(--header-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.information .content .info .item.status .key {
  white-space: nowrap;
  overflow: visible;
}

.information .content .info .item.status .value {
  white-space: pre-wrap;
  height: auto;
}

.information .content .info .item .value a:not(:hover) {
  color: var(--accent-color);
}

.information .content .info .item .value a:hover {
  color: #ffa721;
}

.information .content .info .item .value a i {
  --icon-size: 12px;
  --icon-color: #ffd120;

  position: absolute;
  top: 0;
  right: 0;
}

.information .content .info .text {
  --height: 24px;

  overflow: hidden;
  position: relative;
  height: var(--height);
  padding-right: 12px;
  line-height: var(--height);
  font-size: 15px;
  color: var(--caption-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.information .content .info .text:not(:last-of-type)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: #9696b0;
  border-radius: 2px;
  transform: translateY(-50%);
}

.information .content .info .text:nth-of-type(n+2) {
  margin-left: 8px;
}

.information .content .info .text .creator {
  margin-left: 8px;
}

.information .content .info .text a {
  position: relative;
  padding-right: 14px;
  color: var(--accent-color);
  text-decoration: underline;
}

.information .content .description {
  margin-top: 16px;
}

.information .content .description .text {
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  line-height: var(--height);
  color: var(--header-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}
