.rules {

}

.rules .rules_controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.rules .table .rule_row {
  cursor: pointer;
}

.rules .table .rule_row:hover {
  --bg-color: var(--accent-color);
  --text-color: #000;
}

.rules .section .title {
  line-height: var(--height);
  font-size: 24px;
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  color: var(--caption-color);
}

@media screen and (max-width: 480px){
  .rules_controls .button{
    font-size: 16px;
  }
}