@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,700|Roboto:400,700');
@media(min-width: 300px) {
    body {
        font-size: 20px;
        background: #11162a;
        font-family: 'Roboto', sans-serif;
    }
    .start-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .start-content h1 {
        font-size: 70px;
        line-height: normal;
        width: 310px;
        margin: 0 0 100px;
        font-family: 'Bai Jamjuree', sans-serif;
    }
    .bg-wrap {
        position: absolute;
        background: url('../../assets/bg-login.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
        z-index: -1;
        width: 100%;
        top: 0;
        left: 0;
    }
    .bg-wrap img {
        position: relative;
    }
    .bg-wrap::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #11162a 85%);
    }
    .login-page {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        height: 100vh;
    }
    .login-page form {
        background: rgba(0, 0, 0, 1);
        padding: 80px 20px 60px 70px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        clip-path: polygon(17% 15%, 100% 0, 100% 100%, 0% 100%);
        border-radius: 2px;
    }
    .login-page input {
        background: #101010;
        border-radius: 2px;
        padding: 8px 10px;
        border: none;
        color: #fff;
        width: 260px;
    }
    .login-page label {
        color: #fff;
    }
    .login-page button {
        background: #D79634;
        color: #000;
        border: none;
        border-radius: 2px;
        padding: 12px 53px 12px 63px;
        clip-path: polygon(17% 15%, 100% 0, 100% 100%, 0% 100%);
        cursor: pointer;
    }
    .login-page span {
        padding-left: 30px;
        color: #999999;
    }
    .login-page a {
        text-decoration: underline;
        cursor: pointer;
    }
    .login-btn {
        padding-top: 30px;
    }
    .login-btn a {
        text-decoration: none;
        color: #fff;
    }
    .start-content button {
        background: #FFA928;
        color: #000;
        text-transform: uppercase;
        border: none;
        border-radius: 2px;
        padding: 30px 100px 20px 90px;
        clip-path: polygon(90.39% 22px, 100% 100%, 0% 100%, 0.09% 4.23%);
        cursor: pointer;
        margin: 0 0 20px 20px;
    }
    .start-content .start-btns {
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

@media(min-width: 768px) {
    .start-content h1 {
        font-size: 120px;
        line-height: normal;
        width: 500px;
    }
    .login-page form {
        padding: 130px 60px 90px 160px;
    }
    .login-page input {
        width: 450px
    }
    .login-btn {
        display: flex;
        align-items: center
    }
    .start-content button {
        padding: 30px 150px 20px 150px;
    }
}

@media(min-width: 991px) {
    .login-page form {
        padding: 130px 110px 100px 200px;
    }
}

@media(min-width: 1200px) {
    .start-content h1 {
        font-size: 140px;
        line-height: normal;
        width: 500px;
    }
}