@import '../~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,700|Roboto:400,700');

:root {
  --font-family-title: 'Bai Jamjuree';
  --font-family-base: 'Roboto';

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --accent-color: #D79634;
  --background-color: #252532;
  --primary-color: #060916;
  --caption-color: #787888;

  --layout-padding: 20px;
  --container-width: calc(1024px + (var(--layout-padding) * 2));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-property: none;
  transition-duration: 0.3s;
}

body {
  font-family: var(--font-family-base);
  font-size: 20px;
  line-height: 1.25;
}

:global(.container) {
  /*background-image: url('assets/bg-login.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0em;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

@media (max-width: 1064px) {
  :root {
    --container-width: 100%;
  }
}