@import '../~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://use.typekit.net/bri1vhj.css");

@font-face {
  font-family: 'Gotham Pro';
  src: url('assets/fonts/GothamPro.eot');
  src:
    local('Gotham Pro'),
    local('GothamPro'),
    url('assets/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/GothamPro.woff') format('woff'),
    url('assets/fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('assets/fonts/GothamPro-Bold.eot');
  src:
    local('Gotham Pro Bold'),
    local('GothamPro-Bold'),
    url('assets/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/GothamPro-Bold.woff') format('woff'),
    url('assets/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('assets/fonts/GothamPro-Italic.eot');
  src:
    local('Gotham Pro Italic'),
    local('GothamPro-Italic'),
    url('assets/fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/GothamPro-Italic.woff') format('woff'),
    url('assets/fonts/GothamPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('assets/fonts/GothamPro-Light.eot');
  src:
    local('Gotham Pro Light'),
    local('GothamPro-Light'),
    url('assets/fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/GothamPro-Light.woff') format('woff'),
    url('assets/fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --font-family-title: montserrat, sans-serif;
  --font-family-base: 'Gotham Pro';
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --accent-color: #f2994a;
  --danger-color: #fb4343;
  --danger-secondary-color: #ffc777;
  --base-color: #549557;
  --base-secondary-color: #5b925d;

  /* --background-color: #252532; */
  --background-color: #151534;
  --primary-color: #060916;
  --caption-color: #e3e3e6;
  --header-color: #eee;
  --background-gradient: linear-gradient(0deg, rgba(81, 147, 84, 0.95), rgba(81, 147, 84, 1));
  --header-height: 60px;
  --footer-height: 60px;
  --layout-padding: 20px;
  --container-width: calc(1024px + (var(--layout-padding) * 2));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-property: none;
  transition-duration: 0.3s;
}

html,
body,
:global(#root) {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: var(--font-family-base);
  font-size: 20px;
  line-height: 1.25;
}

:global(.container) {
  min-height: calc(100% - var(--header-height) - 60px);
  background: linear-gradient(rgba(14, 16, 20, 0.4), rgb(14, 16, 20)), url('assets/main-bg.svg');
  background-color: #0e1014;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a,
button {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input,
select {
  -moz-appearance: textfield;
}

@media (max-width: 1064px) {
  :root {
    --container-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  :global(.container) {
    background-size: cover;
  }
}
