.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--icon-color);
  pointer-events: none;
}

.icon svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.icon svg path,
.icon svg polygon {
  fill: var(--icon-color);
  transition-property: fill;
}
