.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding: 20px var(--layout-padding) 40px var(--layout-padding);
}

.dashboard .title {
  --height: 40px;
  overflow: hidden;
  height: var(--height);
  margin: 0;
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: var(--header-color);
  font-size: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dashboard .content {
  width: var(--container-width);
  display: flex;
  margin-top: 50px;
}

.dashboard .content .sidebar {
  width: 300px;
  padding: 16px;
  align-self: flex-start;
  border-radius: 4px;
  background-color: var(--background-color);
}

.dashboard .content .sidebar .menu h4 {
  --height: 24px;
  overflow: hidden;
  height: var(--height);
  margin: 0;
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: var(--header-color);
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dashboard .content .sidebar .menu nav {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.dashboard .content .sidebar .menu nav a {
  --height: 40px;
  --link-padding: 10px;
  height: var(--height);
  padding-right: var(--link-padding);
  padding-left: var(--link-padding);
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: var(--height);
  text-decoration: none;
  border-radius: 4px;
}

.dashboard .content .sidebar .menu nav a:not(:hover) {
  color: var(--caption-color);
  background: rgba(0, 0, 0, 0.25);
}

.dashboard .content .sidebar .menu nav a:global(.active),
.dashboard .content .sidebar .menu nav a:hover {
  color: var(--primary-color);
  background: var(--accent-color);
}

.dashboard .content .sidebar .menu nav a + a {
  margin-top: 12px;
}

.dashboard .content .section {
  flex-grow: 1;
  min-width: 0;
  margin-left: 30px;
  padding: 0 16px;
}

@media screen and (max-width: 480px){
  .dashboard .title{
    font-size: 26px;
  }
  .dashboard .content{
    flex-direction: column;
    margin-top: 20px;
  }

  .dashboard .content .sidebar{
    width: 100%;
    margin-bottom: 20px;
  }

  .dashboard .content .section{
    margin-left: 0;
    padding: 0;
    padding-bottom: 20px;
  }
}