.avatar {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.points {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #000 !important;
}
