.sidebar {
  --sidebar-size: 500px;

  position: relative;
  align-self: flex-start;
  width: var(--sidebar-size);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-color);
  box-shadow: 0 1px 1px #27213d;
  font-size: 20px;
}

.sidebar .avatar {
  --avatar-size: 100px;

  margin-left: auto;
  margin-right: auto;
}

.sidebar .content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: var(--header-color);
  text-shadow: 0 1px 1px #000;
}

.sidebar .content .nickname {
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar .content .text {
  font-size: 18px;
}

.sidebar .wrap_info {
  display: flex;
  flex-direction: column;
  text-align-last: left;
  padding: 18px 0 0;
}

.sidebar .wrap_info .label {
  font-size: 14px;
  text-align: left;
  color: var(--accent-color);
  padding-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    --sidebar-size: 100%;
  }

  .sidebar .content {
    padding-top: 40px;
  }
}
