.sidebar {
  --sidebar-size: 500px;

  position: relative;
  align-self: flex-start;
  width: var(--sidebar-size);
  min-height: 180px;
  border-radius: 4px;
  background-color: var(--background-color);
  box-shadow: 0 1px 1px #27213d;
  font-size: 20px;
}

.sidebar .content {
  display: flex;
  flex-direction: column;
  padding: calc(var(--sidebar-size) / 7) 20px 20px;
  color: var(--header-color);
  text-shadow: 0 1px 1px #000;
}

.sidebar .content .nickname {
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar .content .text {
  font-size: 18px;
}

.sidebar .wrap_info {
  display: flex;
  flex-direction: column;
  text-align-last: left;
  padding: 18px 0 0;
}

.sidebar .wrap_info .label {
  font-size: 14px;
  text-align: left;
  color: var(--accent-color);
  padding-bottom: 4px;
}

@media screen and (max-width: 1014px) {
  .sidebar .avatar {
    left: calc((var(--sidebar-size) - var(--avatar-size)) / 4.5);
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    --sidebar-size: 400px;
    --avatar-size: 100px;
  }

  .sidebar .content {
    padding-top: 60px;
    width: 400px;
  }

  .sidebar .avatar {
    left: calc((var(--sidebar-size) - var(--avatar-size)) / 2);
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    --sidebar-size: 100%;
    --avatar-size: 120px;

    align-self: center;
  }

  .sidebar .content {
    width: 100%;
    padding-top: calc(var(--sidebar-size) / 5);
  }

  .sidebar .content p {
    font-size: 16px;
  }
}
