.applicants {
  max-width: 410px;
}

.applicants .header .button {
  flex-shrink: 0;
  height: var(--matches-header-height);
  margin-left: 10px;
  line-height: var(--matches-header-height);
  font-size: 15px;
  color: var(--color);
  font-weight: 600;
  background-color: transparent;
  transition-property: color;
}

.applicants .header .button:not(:hover) {
  --color: var(--accent-color);
}

.applicants .header .button:hover {
  --color: #e88c00;
}

.applicants .action {
  --height: var(--row-height);

  flex-shrink: 0;
}

.applicants .table .row .number {
  flex-grow: 0;
  flex-shrink: 0;
}

.applicants .content {
  min-height: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.applicants .content .apply {
  margin: auto;
}

.applicants .content .table {
  width: 100%;
}

.applicants .content .table .button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--row-height);
  height: var(--row-height);
  background-color: var(--background-color);
  transition-property: background-color;
}

.applicants .content .table .row .status {
  font-size: 10px;
  font-weight: 400;
}

.applicants .content .table .row .accepted {
  color: #4ccc4c;
}

.applicants .content .table .row .rejected {
  color: #af3a3a;
}
