.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .dropzone :global(.file-drop-target) {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  border-radius: 8px;
  border: 2px dashed #58587f;
  color: #fff;
  font-size: 14px;
  transition: 0.2s ease;
  cursor: pointer;
}

.container .dropzone :global(.file-drop-target):hover {
  background-color: #1c1c46;
}

.container .dropzone :global(.file-drop-target) p {
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .dropzone :global(.file-drop-target) .clickZone {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: #2a2a52;
}

.container .dropzone :global(.file-drop-target) .fileInput {
  display: none;
}

.container .button {
  margin-top: auto;
  margin-left: auto;
}