.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgba(153, 153, 153, 0.7);
}

.dialog {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  background: var(--background-color);
  color: #fff;
  border-radius: 4px;
  padding: 20px;
}

.dialog p {
  margin-top: 0;
  font-size: 16px;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.controls button {
  margin-right: 6px;
  font-size: 14px;
}