.moderators .header {
  --moderators-header-height: 28px;

  display: flex;
  align-items: center;
}

.moderators .header h4 {
  font-size: 18px;
  color: #fff;
}

.moderators .header .button {
  flex-shrink: 0;
  height: var(--moderators-header-height);
  margin-left: auto;
  line-height: var(--moderators-header-height);
  font-size: 15px;
  color: var(--color);
  font-weight: 600;
  background-color: transparent;
  transition-property: color;
}

.moderators .header .button:not(:hover) {
  --color: var(--accent-color);
}

.moderators .header .button:hover {
  --color: #e88c00;
}

.moderators .header + .content,
.moderators .header + .empty {
  margin-top: 16px;
}

.moderators .empty {
  --height: 24px;

  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  color: var(--accent-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align-last: left;
}

.moderators .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.moderators .content .button {
  margin: 20px auto;
}

.moderators .content .table {
  width: 100%;
}

.moderators .subtitle + .table {
  margin-top: 16px;
}

.moderators .table .row .cell {
  flex-grow: 0;
  flex-shrink: 0;
}

.moderators .table .row .is_winner {
  color: #4ccc4c;
  font-weight: 400;
}

.moderators .table .row .points {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: var(--accent-color);
}

@media (max-width: 480px) {
  .moderators .header .subtitle {
    font-size: 20px;
  }
}
