.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.controls .filters {
  display: flex;
}

.controls .filters .filter {
  min-width: 250px;
  flex-shrink: 0;
}

.controls .filters .filter+.filter {
  margin-left: 12px;
}

.rewards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 32px;
}

.rewards>div {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .controls {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .controls .filters {
    flex-wrap: wrap;
    margin-top: 12px;
  }
  .controls .filters .filter+.filter {
    margin: 12px 0;
  }
  .controls .filters .filter {
    width: 100%;
  }
  .rewards {
    grid-template-columns: repeat(2, 1fr);
  }
}