.wrapper {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #11162a;
}

.wrapper._is-fullscreen {
  position: fixed;
}

.wrapper .spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 30px solid transparent;
  border-left-color: #fff;
  animation: load 0.9s ease-in-out alternate infinite;
}
 
@keyframes load {
  0% {
    transform: rotate(-150deg);
  }
  18% {
    border-width: 9px;
  }
  50% {
    border-width: 2px;
  }
  82% {
    border-width: 9px;
  }
  100% {
    transform: rotate(350deg);
  }
}