.home_page {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

main {
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
}

.content {
  display: flex;
}

.content aside {
  margin-top: 70px;
  margin-right: 30px;
}

.content h2 {
  padding-bottom: 15px;
  font-family: var(--font-family-title);
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  font-size: 32px;
  color: var(--header-color);
  text-shadow: 0px 1px 1px #000000;  
}

.content .user_statistics {
  flex-grow: 1;
  padding-top: 15px;
}

.content .user_statistics .statistics_masonry {
  margin-bottom: 40px;
}

.statistics_masonry {
  --height: 160px;
  display: flex;
  background-color: var(--background-color);
  border-radius: 4px;
}

.statistics_masonry .item {
  height: var(--height);
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.statistics_masonry .item:not(:last-of-type){
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 1);
}

.statistics_masonry .item .key {
  font-size: 20px;
  color: var(--header-color);
}

.statistics_masonry .item .value {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  color: var(--header-color);
  text-shadow: 0px 1px 1px #000000;
}

.statistics_masonry .item .value span {
  font-weight: var(--font-weight-regular);
}

.zero_info{
  color: #9494ae;
  font-size: 20px;
}
@media (max-width: 1440px) {
  main {
    width: 90%;
  }  
}
@media screen and (max-width: 768px) {
  .card_tournament p {
    font-size: 12px;
    padding: 0 10px;
  }
  .header_tournaments {
    margin-top: 0px;
  }
  .header_tournaments p {
    padding: 0 10px;
  }
  .content aside {
    margin-top: 60px;
    margin-right: 30px;
  }
  .statistics_masonry .item .value {
    font-size: 20px
  }
  .statistics_masonry .item .key {
    font-size: 16px
  }
}
@media screen and (max-width:480px){
  .content{
    flex-direction: column;
  }
  .content aside {
    margin-right: 0px;
  }
  .user_statistics .statistics_masonry{
    margin-bottom: 0;
  }
  .content .user_statistics .statistics_masonry {
    margin-bottom: 0px;
    --height: 94px;
  }
}
@media screen and (max-width: 320px){
  .statistics_masonry .item .value {
    font-size: 16px
  }
  .statistics_masonry .item .key {
    font-size: 14px
  }
  .tournaments_block {
    margin-bottom: 20px;
  }
  .user_statistics h2{
    margin: 0;
    padding: 10px 0 5px 0;
    font-size: 24px;
  }
}