.tournament_modal {
  --width: 545px !important;
  height: 535px;
  margin: auto !important;
}

.tournament_modal .content {
  padding: 20px 25px;
}

.tournament_modal .content .form {
  min-height: 400px;
}

@media(max-width: 480px) {
  .tournament {
    width: 90%;
    height: auto;
  }
  .tournament_modal {
    --width: 100% !important;
    height: 560px;
    margin: 0;
  }
}

@media(max-width: 320px) {
  .tournament {
    height: 100%;
  }
  .tournament_modal {
    height: 100%;
  }
}