.tournament_modal {
  --width: 780px !important;
  height: 560px;
  margin: auto !important;
}

@media(max-width: 480px) {
  .tournament {
    width: 90%;
    height: auto;
  }
  .tournament_modal {
    --width: 100% !important;
    height: 560px;
    margin: 0;
  }
}

@media(max-width: 320px) {
  .tournament {
    height: 100%;
  }
  .tournament_modal {
    height: 100%  ;
  }
}