.modal {
  --width: 600px;
}

.modal .modal_content {
  padding-top: var(--layout-padding);
}

.modal .modal_content .team_name {
  --height: 44px;

  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 20px;
  color: #fff;
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal .modal_content .table {
  padding-bottom: var(--layout-padding);
}
