.card {
  min-height: 150px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  background: url('assets/play-with.jpg') no-repeat, #081a2f;
  background-size: cover;
  background-position: center right;
  max-width: 500px;
}

.card .date {
  color: var(--accent-color);
  background: var(--background-color);
  width: 60px;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  margin-right: 24px;
  z-index: 1;
  transition: .25s ease-in;
  border: 1px solid #333333;
  flex-shrink: 0;
}

.card .date .day {
  font-size: 20px;
  height: 20px;
  font-weight: bold;
}

.card .date .month {
  font-size: 14px;
  font-weight: bold;
  height: 12px;
  text-transform: uppercase;
}

.card:hover .content {
  background-position: right;
}

.card .content {
  padding: 24px;
  z-index: 2;
  background-image: linear-gradient( 120deg, rgba(48, 48, 94, 0.6), rgba(14, 14, 43, 0.8), rgba(49, 49, 116, 0.4));
  background-size: 150%;
  display: flex;
  transition: 0.3s ease-in;
  min-height: 150px;
}

.card .content .name {
  --height: 48px;
  overflow: hidden;
  min-height: var(--height);
  max-height: var(--height);
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 100%;
  padding-right: 20px;
}

.card .content .name+.info {
  margin-top: 12px;
}

.card .content .info {
  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 6px;
}

.card .content .info i {
  --icon-size: 20px;
  --icon-color: var(--accent-color);
  flex-shrink: 0;
}

.card .content .info .name {
  --height: 20px;
  flex-shrink: 0;
  height: var(--height);
  line-height: var(--height);
  font-size: 14px;
  font-weight: 600;
  color: var(--accent-color);
  text-transform: uppercase;
}

.card .content .info .value {
  --height: 20px;
  height: var(--height);
  margin-left: 8px;
  line-height: var(--height);
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .card {
    margin: 6px auto;
    max-width: 480px;
  }
  .card .content .name {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .card {
    background-position: -50px 0px;
    background-size: 150% 100%;
    background-size: cover;
    width: 340px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 270px;
    min-height: 130px;
    background-position: -80px 0px;
  }
  .card .content {
    padding: 12px;
  }
  .card .content {
    min-height: 130px;
  }
}