.control {
  --height: 48px;
  --icon-size: 30px;
  --icon-color: #fff;

  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  height: var(--height);
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  background-color: #569659;
  color: #fff;
  transition-property: background-color;
}

.control svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.control svg path,
.control svg polygon {
  fill: var(--icon-color);
  transition-property: fill;
}
