.users {
  display: flex;
  flex-wrap: wrap;
}

.users input {
  margin-bottom: 10px;
}

.row {
  --bg-color: linear-gradient(180deg, rgba(80, 92, 120, .1), rgba(49, 54, 68, .1));
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 16px;
  border-radius: 4px;
  background: var(--background-color);
  transition-property: background-color;
  color: #fafafa;
  margin: 4px;
  padding: 0 20px;
  cursor: pointer;
  flex-basis: 30%;
  transition: 0.35s;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row:hover {
  box-shadow: 0 0px 8px rgba(255, 255, 255, 0.2);
}

.row:active {
  transform: scale(0.96);
}

@media (max-width: 480px) {
  .row {
    flex-basis: 100%;
  }
}