.tournaments {

}

.tournaments .table .tournament_row {
  cursor: pointer;
}

.tournaments .table .tournament_row:hover {
  --bg-color: var(--accent-color);
  --text-color: #000;
}

.tournaments .rules_inputs {
  display: flex;
}

.tournaments .rules_inputs .rule_input + .rule_input {
  margin-left: 12px;
}

.tournaments .section .title {
  line-height: var(--height);
  font-size: 24px;
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  color: var(--caption-color);
}

.tournaments .champions_section {
  --height: 40px;
}

.tournaments .champions_section .champions {
  --gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gap) * -1);
  margin-top: calc(var(--gap) * -1);
}

.tournaments .champions_section .champions .champion {
  --champion-padding: 12px;
  display: flex;
  height: var(--height);
  align-items: center;
  margin-top: var(--gap);
  margin-left: var(--gap);
  padding-left: var(--champion-padding);
  padding-right: var(--champion-padding);
  min-width: 0;
  flex-shrink: 0;
  font-size: 16px;
  line-height: var(--height);
  color: var(--caption-color);
  border-radius: calc(var(--height) / 2);
  background-color: var(--primary-color);
}

.tournaments .champions_section .champions .champion_add {
  height: var(--height);
  display: flex;
  align-items: center;
  margin-top: var(--gap);
  margin-left: var(--gap);
}

.tournaments .champions_section .champions .champion_add .select {
  height: var(--height);
  min-width: 200px;
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

.tournaments .champions_section .champions .champion_add .button {
  height: var(--height);
  min-width: 60px;
  font-size: 16px;
  margin-left: var(--gap);
}

.tournaments .matches_section .match {
  --height: 40px;
  --padding: 10px;
  height: var(--height);
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  align-items: center;
  max-width: 300px;
  margin-top: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.tournaments .matches_section .match:not(:hover){
  background-color: var(--primary-color);
  color: var(--caption-color);
}

.tournaments .matches_section .match:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.tournaments .add_user{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  min-width: 20px;
  height: 60px;
  border-radius: 40px;
}
/* .tournaments .title {
  --height: 24px;
  overflow: hidden;
  height: var(--height);
  margin: 0;
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: #9696b0;
  font-size: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
} */