.button {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--height);
  background-color: var(--background-color);
  transition-property: background-color;
}

/* type */

.button[appearance^="_icon"] {
  --height: 32px;
  justify-content: center;
  width: var(--height);
}

.button[appearance^="_basic"] {
  --height: 40px;
  justify-content: center;
  min-width: 64px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
}

.button[appearance^="_circle"] {
  --height: 40px;
  height: var(--height);
  width: var(--height);
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50%;
}

/* theme */

.button[appearance$="accent"]:not(:hover) {
  text-transform: uppercase;
  --background-color: var(--accent-color);
}

/* Ховер временный, пока Поляша не выкатит состояния для кнопок */

.button[appearance$="accent"]:hover {
  text-transform: uppercase;
  --background-color: #ed9a1b;
}

.button[appearance$="accent"]:active {
  --background-color: #f3ab3f;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 0.5em rgba(155, 20, 20, 0);
}

.button[appearance$="primary"]:not(:hover) {
  --background-color: var(--primary-color);
  --color: var(--accent-color);
}

.button[appearance$="default"]:not(:hover) {
  text-transform: uppercase;
  color: #fff;
  --background-color: rgba(255, 255, 255, 0.1);
}

.button[appearance$="default"]:hover {
  text-transform: uppercase;
  color: #fff;
  --background-color: rgba(255, 255, 255, 0.25);
}

/* Ховер временный, пока Поляша не выкатит состояния для кнопок */

.button[appearance$="primary"]:hover {
  --background-color: #FFA51B;
  --color: #000;
}

.button[appearance$="transparent"]:not(:hover) {
  --background-color: transparent;
  --color: #9FA2BE;
}

/* Ховер временный, пока Поляша не выкатит состояния для кнопок */

.button[appearance$="transparent"]:hover {
  --background-color: transparent;
  --color: var(--accent-color);
}

.button[appearance$="danger"]:not(:hover) {
  --background-color: var(--danger-color);
  --color: #fff;
}

/* Ховер временный, пока Поляша не выкатит состояния для кнопок */

.button[appearance$="danger"]:hover {
  --background-color: #ff2020;
  --color: #fff;
}

.button[appearance$="start"] {
  background-color: #1c1c3e;
  color: rgb(255, 193, 78);
}

.button[appearance$="start"]:hover {
  background-color: #101027;
}

/*********/

.button[disabled] {
  pointer-events: none;
  cursor: auto;
  color: #000;
  background-color: #9FA2BE;
}

.button svg {
  flex-shrink: 0;
  width: var(--icon-size, 16px);
  height: var(--icon-size, 16px);
}

.button svg polygon, .button svg path {
  fill: var(--color);
  transition-property: fill;
}

.button svg+span {
  margin-left: 12px;
}

.button span {
  overflow: hidden;
  min-width: 0;
  color: var(--color);
  font-size: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: color;
}

._is-danger {
  background: rgba(255, 255, 255, 0.1);
  margin-left: 10px;
  color: #fff;
}

._is-danger:hover {
  background: rgba(255, 255, 255, 0.2);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--background-color, --accent-color);
  }
}