.modal .modal_content {
  display: grid;
  grid-row-gap: 12px;
  grid-template-columns: 1fr;
  padding: var(--layout-padding);
}

.modal .modal_content .button {
  justify-self: end;
  margin-top: 18px;
}
