.table .empty {
  --height: 24px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  color: var(--accent-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align-last: left;
}

.table .captions {
  display: flex;
  align-items: center;
  min-width: 100%;
}

.table .captions > .cell {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: calc(var(--width) * 1px);
  min-width: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.table .captions > .cell > .text {
  --height: 16px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table .captions + .row {
  margin-top: 4px;
}

.table .row {
  --bg-color: linear-gradient(180deg,rgba(80,92,120,.1),rgba(49,54,68,.1));
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 50px;
  border-radius: 2px;
  background: var(--background-color);
  box-shadow: 0 1px 1px #000;
  text-decoration: none;
  transition-property: background-color;
}

/* .table .row:nth-child(even){
  background: rgba(64, 70, 85, 0.4);
} */

/* .table .row:not([href]) {
  --bg-color: linear-gradient(180deg,rgba(80,92,120,.1),rgba(49,54,68,.1));
  --text-color: var(--caption-color);
} */

.table .row[href]:not(:hover) {
  /* --bg-color: linear-gradient(180deg,rgba(80,92,120,.1),rgba(35, 39, 51, 0.1)); */
  --bg-color: var(--background-color);
  --text-color: var(--caption-color);
}

.table .row[href]:hover {
  background: var(--accent-color);
  --text-color: #000;
}

.table .row + .row {
  margin-top: 1px;
}

.table .row > .item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: calc(var(--width) * 1px);
  min-width: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.table .row > .item:not(:last-of-type) {
  box-shadow: -1px 0 rgba(6, 9, 22, 0.4) inset;
}

.table .row > .item > .text {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-size: 16px;
  --text-color: var(--caption-color);
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: color;
}

@media (max-width: 768px) {
  .table {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .table .captions,
  .table .row {
    width: fit-content;
  }
}

@media (max-width: 480px){
  .table .row > .item > .text{
    font-size: 12px;
  }
}