.home-page {
    text-align: center;
    display: flex;
    /* padding: 20px; */
    width: 1200px;
    margin: 0 auto;
}

.home-page form {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filters h2 {
    font-size: 40px;
    color: #9696B0;
    font-family: 'Bai Jamjuree', sans-serif;
}

.filters form {
    padding-bottom: 80px;
}

.filters .input-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.filters label {
    font-weight: bold;
    line-height: normal;
    font-size: 12px;
    color: #9D9FBB;
    padding: 2px 10px;
}

.filters input {
    background: #060916;
    color: #D79634;
    font-size: 20px;
    border: 10px solid #252532;
    border-radius: 4px;
    padding: 8px 10px;
    margin-bottom: 30px;
    width: 250px;
}

.createTournament {
    position: relative;
    background: #060916;
    border: 1px solid #D79634;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    color: #D79634;
    padding: 15px 90px 48px 20px;
    width: 130px;
}

.createTournament p {
    margin: 0;
}

.createTournament button {
    background: #D79634;
    border-radius: 2px;
    border: none;
    position: absolute;
    font-size: 20px;
    text-align: center;
    padding: 30px 56px 20px 76px;
    font-weight: bold;
    width: 250px;
    clip-path: polygon(17% 15%, 100% 0, 100% 100%, 0% 100%);
    right: -35px;
    bottom: -50px;
    cursor: pointer;
}

.tournaments-block {
    padding: 10px 20px;
}

.headerTournaments {
    display: flex;
}

.headerTournaments p {
    font-weight: bold;
    line-height: normal;
    font-size: 12px;
    color: #9D9FBB;
    text-align-last: left;
    padding: 0 40px;
    margin-bottom: 6px;
}

.headerTournaments p:first-child {
    width: 360px;
}

.headerTournaments p:nth-child(2) {
    width: 70px;
}

.headerTournaments p:nth-child(3) {
    width: 70px;
}

.cardTournament {
    display: flex;
    background: #252532;
    box-shadow: 0px 1px 1px #000000;
    border-radius: 4px;
    margin-bottom: 5px;
}

.cardTournament p {
    padding: 0 40px;
    margin: 15px 0;
    color: #787888;
    border-right: 1px solid rgba(6, 9, 22, 0.4);
    font-size: 16px;
    text-align: left;
    font-weight: normal;
}

.cardTournament p:last-child {
    border: none;
    text-align: right;
}

.cardTournament p:first-child {
    width: 360px;
}

.cardTournament:hover {
    background: #D79634;
    cursor: pointer;
}

.cardTournament:hover p {
    color: #000;
}

.newTournament {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    position: absolute;
}

.newTournament form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
}

.newTournament .topBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bg-wrap {
    position: absolute;
    background: url('../../assets/bg-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 600px;
    opacity: 0.6;
}

.bg-wrap img {
    position: relative;
}

.bg-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #11162a 85%);
}