@import url("https://use.typekit.net/eam5kjp.css");
* {
  margin: 0;
}

.main .logo {
  font-weight: bold;
  color: #fafafa;
  font-size: 24px;
}

.main .main_content {
  position: relative;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 250px;
  height: 100%;
}

.main .wrap .main_content .logo_back {
  position: absolute;
  left: -220px;
  top: 340px;
  font-size: 150px;
  transform: rotate(-90deg);
  opacity: 0.6;
  color: #fafafa;
}

.wrap {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  font-family: montserrat, sans-serif;
}

.work h2, .footer h2 {
  font-size: 48px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  color: #fafafa;
}

.work h2 {
  padding-left: 24px;
  padding-bottom: 24px;
}

.main:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('assets/home/red-head-girl.png'), linear-gradient(0deg, rgba(81, 147, 84, .95), rgba(81, 147, 84, .95)), url('assets/home/cyberpop.png');
  background-repeat: no-repeat;
  background-size: 1000px, cover, cover;
  background-position: 90% bottom, center, center;
  z-index: -2;
}

.main {
  position: relative;
  height: 110vh;
  display: flex;
  flex-direction: column;
  padding: 0px 64px;
}

.main .header {
  display: flex;
  justify-content: space-between;
  padding: 24px 12px;
  border-bottom: 1px solid #fafafa;
}

.main p {
  font-size: 27px;
  color: #fff;
  margin: 0;
  padding-top: 12px;
  width: 410px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.buttons .button {
  background-color: transparent;
  font-size: 27px;
  font-weight: bold;
  text-decoration: none;
  border: 5px solid #b4844c;
  padding: 12px 48px;
  width: auto;
  font-weight: bold;
  color: #fff;
  text-align: center;
  transition: 0.35s background;
  position: relative;
  overflow: hidden;
}

.buttons .button:after {
  position: absolute;
  display: block;
  content: "";
  border: 3px solid #b4844c;
  height: 0;
  width: 110%;
  top: 50%;
  left: -3px;
  opacity: 0;
  transition: 0.4s;
  transform: translateX(0%) translateY(-50%);
}

.buttons .button:hover:after {
  height: 120%;
  opacity: 1;
  color: #FFF;
  transform: translateX(0%) translateY(-50%);
}

.buttons .streamer {
  margin-top: 24px;
  color: #fff;
  font-size: 18px;
}

.work {
  position: relative;
  padding: 48px 0;
  background-image: url('assets/home/ahri-arcade.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}

.work:before {
  content: '';
  display: block;
  width: 100%;
  height: 112%;
  position: absolute;
  /* background-color: #383838; */
  background: linear-gradient(rgba(20, 20, 20, 0.95), rgba(20, 20, 20, 0.95)), url('assets/home/ahri-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: -6%;
  transform: skewY(3deg);
  z-index: -1;
}

.work .cards {
  display: flex;
  flex-direction: column;
}

.work .cards .card:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 50%;
  background: #5b8f5e;
  right: 99%;
  top: 0;
}

.work .cards .card {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 24px 24px 118px;
  background: #5b8f5e;
  margin-bottom: 36px;
  width: 60%;
  color: #fafafa;
}

.work .cards .card .num {
  position: absolute;
  color: #fafafa;
  font-weight: 800;
  font-size: 64px;
  opacity: 0.6;
  left: 24px;
  top: 16px;
}

.work .cards .card .text {
  width: 90%;
}

.work .cards .card .title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.work .cards .card .undertitle {
  font-size: 20px;
  line-height: 27px;
}

.lang_settings button {
  font-size: 16px;
  background-color: transparent;
  color: #fafafa;
  transition: 0.3s ease;
}

.lang_settings button+button {
  margin-left: 8px;
}

.lang_settings button:hover {
  color: #000;
}

.team_goals {
  padding: 64px 0;
  /* background: #5b8f5e; */
  background-size: cover;
  color: #fafafa;
  position: relative;
}

.team_goals:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(0deg, rgba(81, 147, 84, .95), rgba(81, 147, 84, .95)), url('assets/home/cyberpop.png');
  left: 0;
  top: 0;
  z-index: -2;
}

.team_goals .wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.team_goals .wrap h2 {
  margin-bottom: 24px;
}

.team_goals .wrap p {
  margin-bottom: 12px;
  font-size: 16px;
  width: 60%;
}

.footer {
  height: var(--footer-height);
  display: flex;
  align-items: center;
  background-color: #383838;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--container-width);
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.footer .container a {
  font-size: 12px;
  white-space: nowrap;
  color: var(--caption-color);
  font-family: var(--font-family-title);
  transition: all 0.3s;
}

.footer .container a:hover {
  text-shadow: 0 0 2px #fff;
}

.footer .container a svg {
  padding-top: 4px;
  width: 16px;
}

.footer .container a svg path {
  fill: var(--header-color);
}

.footer .container a svg:hover {
  filter: drop-shadow(0 0 2px white);
  transition: all 0.3s;
}

.footer .container .info, .footer .container .info .copyright, .footer .container .info .contacts {
  display: flex;
  align-items: center;
}

.footer .container .info .copyright {
  margin-right: 16px;
}

.footer .container .info p {
  margin-right: 16px;
  font-size: 12px;
  color: var(--caption-color);
  white-space: nowrap;
}

@media (max-width: 1440px) {
  .main p {
    font-size: 24px;
    padding-top: 8px;
  }
  .work h2 {
    font-size: 27px;
  }
  .buttons {
    padding-top: 144px;
  }
  .buttons .button {
    font-size: 20px;
    padding: 12px 48px;
  }
  .buttons .streamer {
    font-size: 14px;
    margin-top: 12px;
  }
  .work .cards .card {
    margin-bottom: 24px;
    padding: 24px 24px 24px 118px;
  }
  .work .cards .card .title {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 8px;
  }
  .work .cards .card .undertitle {
    font-size: 14px;
    line-height: 20px;
  }
  .work h2 {
    margin-bottom: 27px;
  }
  .footer p {
    font-size: 16px;
    line-height: 22px;
  }
  .main:before {
    background-size: 650px, cover, cover;
  }
  .main .main_content {
    padding-left: 140px;
    padding-top: 100px;
  }
  .main .wrap .main_content .logo_back {
    position: absolute;
    left: -180px;
    top: 180px;
    font-size: 110px;
    transform: rotate(-90deg);
    opacity: 0.6;
  }
  .buttons {
    padding-top: 80px;
  }
  .work .cards .card .num {
    position: absolute;
    color: #fafafa;
    font-weight: 800;
    font-size: 64px;
    opacity: 0.6;
    left: 24px;
    top: 12px;
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 0 24px;
  }
  .work {
    padding-bottom: 360px;
    background-size: 45%;
  }
  .work .cards .card {
    height: auto;
    width: 100%;
    padding: 24px 24px 24px 118px;
  }
}

@media (max-width: 480px) {
  .work .cards .card {
    padding: 100px 12px 30px 5px;
  }
  .work .cards .card .title {
    font-size: 16px;
    line-height: 1.3;
    padding-bottom: 12px;
  }
  .work .cards .card .undertitle {
    font-size: 16px;
    line-height: 1.3;
  }
  .main {
    height: 100vh;
    padding: 0;
  }
  .main:before {
    background-size: 440px, cover, cover;
  }
  .main .main_content {
    padding-left: 0;
    padding-top: 20px;
  }
  .main .main_content .logo_back {
    display: none;
  }
  .main p {
    font-size: 27px;
    width: auto;
  }
  .work {
    padding: 0;
    background-image: none;
  }
  .work h2, .team_goals h2 {
    font-size: 27px;
    margin-bottom: 12px;
    padding-left: 0;
  }
  .work .cards .card .num {
    left: 6px;
  }
  .footer p {
    width: 100%;
  }
  .buttons {
    max-width: 100%;
    padding-right: 50px;
  }
  .buttons .button {
    font-size: 20px;
    padding: 12px 24px;
  }
  .buttons .streamer {
    font-size: 16px;
    margin-top: 20px;
  }
  .footer p {
    font-size: 16px;
    line-height: 24px;
  }
  .team_goals {
    padding: 120px 0 64px;
  }
  .team_goals .wrap p {
    width: 100%;
  }
  .footer .container .info {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .main:before {
    background-size: 340px, cover, cover;
  }
  .work h2, .team_goals h2 {
    font-size: 24px;
  }
  .work .cards .card .first_title {
    font-size: 20px;
  }
  .main p {
    font-size: 20px;
  }
  .buttons {
    padding-right: 20px;
  }
  .buttons .button {
    font-size: 18px;
  }
}