:root {
  --accent-color: #2f998e;
  --dark: #26333c;
  --light-dark: #3c4750;
  --light-light-dark: #677077;
  --light-accent: #3bbcb0;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../../assets/fonts/Robotobold.woff2') format('woff2'), url('../../assets/fonts/Robotobold.woff') format('woff'), url('../../assets/fonts/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('../../assets/fonts/Robotoblack.woff2') format('woff2'), url('../../assets/fonts/Robotoblack.woff') format('woff'), url('../../assets/fonts/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url('../../assets/fonts/Firasansextralight.woff2') format('woff2'), url('../../assets/fonts/Firasansextralight.woff') format('woff'), url('../../assets/fonts/Firasansextralight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('../../assets/fonts/Firasansregular.woff2') format('woff2'), url('../../assets/fonts/Firasansregular.woff') format('woff'), url('../../assets/fonts/Firasansregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('../../assets/fonts/Firasansbold.woff2') format('woff2'), url('../../assets/fonts/Firasansbold.woff') format('woff'), url('../../assets/fonts/Firasansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Fira Sans, sans-serif;
}

.wrap {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 144px;
  font-family: Roboto, sans-serif;
  margin: 0;
  color: #fff;
}

h2 {
  font-size: 96px;
  margin: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

section {
  padding: 144px;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('assets//bg-login-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.main p {
  font-size: 48px;
  color: #fff;
  margin: 0;
  padding-top: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding-top: 240px;
}

.buttons .button {
  background-color: var(--accent-color);
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  border-radius: 10px;
  padding: 24px 0;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  transition: 0.35s background;
}

.buttons .button:hover {
  background: #3bbcb0;
}

.buttons .streamer {
  margin-top: 24px;
  color: #fff;
  font-size: 24px;
}

.work {
  background-color: #e0e0e0;
}

.work h2 {
  margin-bottom: 80px;
}

.work .cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 96px;
  background: #f1f1f1;
  margin-bottom: 36px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgb(196, 196, 196);
}

.work .cards .card .first_title {
  font-size: 36px;
  font-weight: bold;
}

.work .cards .card:nth-child(odd) {
  flex-direction: row-reverse;
}

.work .cards .card:nth-child(even) {
  justify-content: flex-start;
}

.work .cards .card:nth-child(even) .text {
  padding-left: 96px;
}

.work .cards .card .text {
  width: 70%;
}

.work .cards .card .title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 36px;
}

.work .cards .card .undertitle {
  font-size: 24px;
  line-height: 36px;
}

.footer {
  background-image: linear-gradient(0deg, rgba(3, 1, 15, 0.6), rgba(4, 0, 19, 0.8)), url('assets//bg-login-min.png');
  background-color: #444444;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.footer h2 {
  color: #fafafa;
}

.footer p {
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  font-weight: lighter;
  width: 50%;
}

@media (max-width: 1440px) {
  .wrap {
    max-width: 1000px
  }
  h1 {
    font-size: 96px;
  }
  .main p {
    font-size: 27px;
    padding-top: 12px;
  }
  h2 {
    font-size: 48px;
  }
  .buttons {
    width: 250px;
    padding-top: 144px;
  }
  .buttons .button {
    font-size: 24px;
    padding: 12px 0;
  }
  .buttons .streamer {
    font-size: 16px;
    margin-top: 12px;
  }
  section {
    padding: 64px;
  }
  .work .cards .card {
    height: 150px;
    margin-bottom: 24px;
    padding: 24px 48px;
  }
  .work .cards .card .text {
    width: 75%;
  }
  .work .cards .card:nth-child(even) .text {
    padding-left: 48px;
  }
  .work .cards .card .first_title {
    font-size: 20px;
  }
  .work .cards .card .title {
    font-size: 20px;
    padding-bottom: 12px;
  }
  .work .cards .card .undertitle {
    font-size: 14px;
    line-height: 18px;
  }
  .work .cards .card img {
    width: 50px;
  }
  .work .cards .card:first-child img {
    width: 100px;
  }
  .work h2 {
    margin-bottom: 48px;
  }
  .footer p {
    font-size: 18px;
    line-height: 27px;
    padding-top: 24px;
  }
}

@media (max-width: 480px) {
  section {
    padding: 40px 20px;
  }
  .work .cards .card:nth-child(odd), .work .cards .card:nth-child(even) {
    flex-direction: column-reverse;
  }
  .work .cards .card:nth-child(even) .text {
    padding-left: 0;
  }
  .work .cards .card {
    height: auto;
    padding: 40px 0;
  }
  .work .cards .card .text {
    width: 80%;
    padding-bottom: 36px;
  }
  .work .cards .card .title {
    font-size: 24px;
  }
  .work .cards .card .undertitle {
    font-size: 18px;
    line-height: 24px;
  }
  .work .cards .card .first_title {
    font-size: 24px;
  }
  .main {
    height: 100vh;
  }
  .main p {
    font-size: 27px;
  }
  h2 {
    font-size: 36px;
  }
  .footer p {
    width: 100%;
  }
  .buttons .button {
    font-size: 24px;
  }
  .buttons .streamer {
    font-size: 18px;
  }
  .footer p {
    font-size: 14px;
    line-height: 20px;
  }
}