{
  "controllers/**/*.js": [
    "semistandard --fix",
  ],
  "middleware/**/*.js": [
    "semistandard --fix",
  ],
  "models/**/*.js": [
    "semistandard --fix",
  ],
  "./*.js": [
    "semistandard --fix",
  ]
}