.widget .header {
  margin-bottom: 24px;
}

.widget .header .empty {
  margin-bottom: 12px;
  color: #fff;
  font-size: 16px;
}

.widget .matches {
  position: relative;
}

.widget .matches .list {
  padding-left: 0;
  margin-left: 0;
}

.widget .matches .match {
  --team-padding: 48px;

  list-style: none;
  display: flex;
  align-items: center;
}

.widget .matches .match .time {
  min-width: 38px;
  font-size: 14px;
  color: #fff;
}

.widget .matches .match .statusContainer {
  --status-size: 32px;
  --divider-size: 2px;
  --icon-size: 18px;

  align-self: stretch;
  margin-left: calc(var(--status-size) / 4);
  margin-right: calc(var(--status-size) / 2);
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget .matches .match .statusContainer::after,
.widget .matches .match .statusContainer::before {
  content: '';
  position: absolute;
  height: 100%;
  width: var(--divider-size);
  left: calc(var(--status-size) / 2 - var(--divider-size) / 2);
  background-color: #e3e3e6;
  opacity: 0.5;
}

.widget .matches .match .statusContainer .status {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--status-size);
  height: var(--status-size);
  background-color: var(--color);
  border-radius: 50%;
  z-index: 2;
}

.widget .matches .match .statusContainer .status.pending {
  --color: #e3e3e6;
}

.widget .matches .match .statusContainer .status.active {
  --color: var(--accent-color);
}

.widget .matches .match .statusContainer .status.active svg {
  animation-duration: 3s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}

.widget .matches .match .status.finished {
  --color: #569659;
  --icon-color: #fff;
}

.widget .matches .match .battle {
  flex-grow: 1;
}

.widget .matches .match .battle .title {
  display: flex;
  align-items: center;
}

.widget .matches .match .battle .title h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  margin: 30px 0;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: #fff;
}

.widget .matches .match .battle .title .controls {
  display: flex;
  align-items: center;
}

.widget .matches .match .battle .title .control {
  --size: 24px;
  --icon-size: 12px;
  --color: #e3e3e6;
  --icon-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  background-color: var(--color);
  border-radius: 50%;
}

.widget .matches .match .battle .title .control.delete {
  --color: #af3a3a;
}

.widget .matches .match .battle .title .control.statusControl,
.widget .matches .match .battle .title .control.results {
  --icon-color: #000;
}

.widget .matches .match .battle .title .control + .control {
  margin-left: 8px;
}

.widget .matches .match .battle .team {
  display: flex;
  justify-content: space-between;
}

.widget .matches .match .battle .team.topTeam {
  padding-top: var(--team-padding);
}

.widget .matches .match .battle .team.bottomTeam {
  padding-bottom: var(--team-padding);
}

.widget .matches .match .battle .team .player {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.widget .matches .match .battle .team .player .avatar {
  --size: 40px;

  width: var(--size);
  height: var(--size);
  margin: 0 auto;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}

.widget .matches .match .battle .team .player .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  font-size: 14px;
}

.widget .matches .match .battle .team .player .role {
  font-size: 12px;
}
