html {
  --header-height: 60px;
}

.footer {	
  display: flex;
  align-items: flex-start;
  background: var(--background-color);
}

.footer_wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  padding-bottom: 10px;
}

 .footer a {	
  text-decoration: none;
  font-size: 12px;
  white-space: nowrap;
  color: var(--caption-color);
  font-family: var(--font-family-title);
  transition: all 0.3s;
}

.footer a:hover{
  text-shadow: 0 0 2px #fff;
}

 .footer p {
  margin: 0;
  margin-right: 20px;
  font-size: 12px;
  font-family: var(--font-family-title);
  line-height: 40px;	
  color: var(--caption-color);
  white-space: nowrap;
}

.footer a svg{
  width: 16px;
}
.footer a svg path{
  fill: var(--header-color);
}

.footer a svg:hover{
  filter: drop-shadow(0 0 2px white);
  transition: all 0.3s;
}

.change_lng{
  padding: 0px;
  display: flex;
}
.change_lng a{
  padding: 0 4px;
}

.contact{
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.contact p{
  margin-right: 10px;
}

.one_row{
  display: flex;
}

.info_footer{
  display: flex;
  align-items: center;
}

@media(max-width: 480px){
  .info_footer{
    display: flex;
    align-items: center;
  }
  .contact{
    padding: 0 0 0 10px;
  }
  .footer a{
    font-size: 10px;
  }
  .footer p{
    font-size: 10px;
  }
  .footer{
    padding: 0 0 15px;
  }
}
