.footer {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--container-width);
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.footer .container a {
  font-size: 12px;
  white-space: nowrap;
  color: var(--caption-color);
  font-family: var(--font-family-title);
  transition: all 0.3s;
}

.footer .container a:hover {
  text-shadow: 0 0 2px #fff;
}

.footer .container a svg {
  padding-top: 4px;
  width: 16px;
}

.footer .container a svg path {
  fill: var(--header-color);
}

.footer .container a svg:hover {
  filter: drop-shadow(0 0 2px white);
  transition: all 0.3s;
}

.footer .container .info,
.footer .container .info .copyright,
.footer .container .info .contacts {
  display: flex;
  align-items: center;
}

.footer .container .info .copyright {
  margin-right: 16px;
}

.footer .container .info p {
  margin-right: 16px;
  font-size: 12px;
  font-family: var(--font-family-title);
  color: var(--caption-color);
  white-space: nowrap;
}

.footer .container .lang_settings button {
  font-size: 16px;
  background-color: transparent;
  color: var(--caption-color);
  transition: 0.3s ease;
}

.footer .container .lang_settings button + button {
  margin-left: 8px;
}

.footer .container .lang_settings button:hover {
  color: var(--accent-color);
}

@media(max-width: 480px) {
  .footer {
    height: 120px;
  }

  .footer .container .info .copyright {
    margin-right: 0;
  }

  .footer .container .info .copyright,
  .footer .container .info .contacts {
    margin-bottom: 8px;
  }

  .footer .container,
  .footer .container .info {
    flex-direction: column;
  }
}