.avatar {
  display: flex;
  align-items: center;
}

.user_data {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  margin-left: 8px;
}

.user_data.is_loading {
  min-width: 30px;
  background: var(--header-color);
  border-radius: 4px;
  animation: loading 0.5s infinite;
}

.user_data .role {
  font-size: 10px;
  color: var(--accent-color);
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  0% {
    opacity: 1;
  }
}
