.modal_content {
  /* height: 420px; */
  padding-top: 10px;
  padding-bottom: 20px;
}

.modal_content .header {
  display: flex;
  align-items: center;
  height: 40px;
}

.modal_content .form {
  --input-indent: 6px;
  margin-top: var(--input-indent);
}

.modal_content .field:nth-of-type(n+2) {
  margin-top: var(--input-indent);
}

.modal_content .field:last-of-type {
  margin-bottom: calc(var(--input-indent) * 2);
}
  