html {
  --header-height: 60px;
}

.top_menu {	
  display: flex;
  align-items: center;
  height: var(--header-height);
  background: var(--background-color);
}

.top_menu a{
  display: flex;
  align-items: center;
}
.top_menu a i{
  margin-right: 5px;
}

 .menu_wrap {	
  display: flex;	
  align-items: center;	
  justify-content: space-between;	
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}	

 .logo {	
  margin-right: auto;	
}	

 .top_menu a {	
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}	

 .top_menu h2 {	
  margin: 0;	
  font-size: 20px;	
  font-family: var(--font-family-title);	
  font-weight: var(--font-weight-bold);	
  line-height: 40px;	
  color: rgb(252, 252, 252);
}	
.links{
  display: flex;
  align-items: center;
  margin-right: auto;
}
.links a:nth-child(2){
  margin-left: 60px;
  color: rgb(252, 252, 252);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);	
}

 .top_menu .disabled{
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}
.top_menu .btn_logout{
  font-size: 16px;
  color: #9FA2BE;
  text-shadow: 0px 2px 0px #000000;
  line-height: 2;
  background: transparent;
  text-align: left;
  display: flex;
  align-items: center;
}
.top_menu .btn_logout:hover{
  color: var(--accent-color);
}
.top_menu .btn_logout i{
  margin-right: 5px;
}

.avatar_circle{
  border-radius: 50%;
  object-fit: cover;
}

 @media screen and (max-width: 480px) {	
  .top_menu h2{
    font-size: 14px;
  }
  .links a{
    font-size: 14px;
  }
  .links a:nth-child(2){
    margin-left: 20px;
    margin-right: 10px;
  }
} 
@media(max-width: 480px){
  .links a:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
  }
}
