.home_page {
  text-align: center;
  display: flex;
  justify-content: center;
  /* padding: 20px; */
  width: 1000px;
  margin: 0 auto;
}
.home_page h2{
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  margin: 10px 10px 0;
  font-size: 40px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
}
.home_page form {
  display: flex;
  flex-direction: column;
}
.main_block{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tournaments_block {
  padding: 10px 10px;
  width: 100%;
}

.tournaments_block a {
  text-decoration: none;
}

.header_tournaments {
  display: flex;
}

.header_tournaments p {
  font-weight: var(--font-weight-bold);
  line-height: normal;
  font-size: 12px;
  color: #9D9FBB;
  text-align-last: left;
  padding: 0 40px;
  margin-bottom: 6px;
}

.header_tournaments p:first-child {
  flex-grow: 1
}

.header_tournaments p:nth-child(2) {
  min-width: 60px;
}

.header_tournaments p:nth-child(3) {
  min-width: 50px;
}
.header_tournaments p:nth-child(4) {
  min-width: 120px;
}

.card_tournament {
  display: flex;
  background: var(--background-color);
  box-shadow: 0px 1px 1px #000;
  border-radius: 4px;
  margin-bottom: 5px;
  position: relative;
}

.card_tournament p {
  padding: 0 40px;
  margin: 15px 0;
  color: var(--caption-color);
  border-right: 1px solid rgba(6, 9, 22, 0.4);
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  text-decoration: none;
}

.card_tournament p:last-child {
  border: none;
}

.card_tournament p:first-child {
  flex-grow: 1
}

.card_tournament p:nth-child(2) {
  min-width: 60px;
}

.card_tournament p:nth-child(3) {
  min-width: 60px;
  text-align: center;
}

.card_tournament p:nth-child(4) {
  min-width: 120px;
  text-align: right;
  border-right: none;
}

.tournaments-block a {
  position: relative;
}

@keyframes arrow-anim {
  0% {
    right: -10px;
  }
  70% {
    right: -20px;
  }
  100% {
    right: -10px
  }
}

.tournaments_block a .arrow_card {
  position: absolute;
  top: 15px;
  right: -10px;
  opacity: 0;
  transition: all 0.3s;
}

.card_tournament:hover .arrow_card {
  transition: all 0.3s;
  opacity: 1;
  animation-name: arrow-anim;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

.card_tournament:hover {
  background: var(--accent-color);
  cursor: pointer;
}

.card_tournament:hover p {
  color: #000;
}

.bg_wrap {
  position: absolute;
  background: url('../../assets/bg-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 600px;
  opacity: 0.6;
}

.bg_wrap img {
  position: relative;
}

.bg_wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #11162a 85%);
}
@media (max-width: 1440px) {
  .home_page { 
    width: 70%;
  }
  .tournaments_block{
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .home_page {
    flex-direction: column;
    width: 100%;
  }
  .card_tournament p {
    font-size: 12px;
    padding: 0 10px;
  }
  
  .header_tournaments {
    margin-top: 20px;
  }
  .header_tournaments p {
    padding: 0 10px;
  }
  .header_tournaments p:first-child {
    /* min-width: 220px; */
    flex-grow: 1;
  }
  .header_tournaments p:nth-child(2) {
    min-width: 60px;
  }
  .header_tournaments p:nth-child(3) {
    min-width: 60px;
  }
  .header_tournaments p:nth-child(4){
    min-width: 55px;
  }
  .card_tournament p:nth-child(2) {
    min-width: 60px;
  }
  .card_tournament p:nth-child(3) {
    min-width: 60px;
  }
  .card_tournament p:nth-child(4) {
    min-width: 60px;
  }
  .create_tournament>button {
    font-size: 12px;
    padding: 21px 12px 14px 27px;
    width: 125px;
    right: -1px;
    bottom: -45px;
  }
  .create_tournament {
    padding: 15px 14px 30px 14px;
    width: 102px;
    margin-left: 14px;
    height: 10px;
    font-size: 11px;
  }
  .tournaments_block{
    width: 100%;
  }
}
@media screen and (max-width: 480px){
}
@media screen and (max-width: 320px) {
  .card_tournament p:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: hidden;
  }
  .header_tournaments p:nth-child(4){
    min-width: 45px;
  }
  .home_page h2{
    font-size: 34px;
    margin: 0 auto;
  }
}