.my_tournaments {
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.my_tournaments .no_tournaments {
  font-weight: 700;
  color: var(--accent-color);
}

.my_tournaments .table {
  width: 480px;
}

@media (max-width: 480px) {
  .my_tournaments .table {
    width: 300px;
  }
}