.form {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.step:not(.isActive) {
  display: none;
}

.step.isActive {
  display: block;
}

.steps {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-radius: 4px;
  background-color: var(--primary-color);
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.controls .next {
  margin-left: auto;
}

.controls .next i {
  order: 1;
}

.controls .prev {}

@media screen and (max-width: 480px) {

}

@media(max-width: 320px) { 
  .steps{
    width: 100%;
  }
}