
.tabs {
  margin-left: 55px;
}

.tabs button {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  color: #fff;
  background-color: transparent;
}

.tabs button + button {
  margin-left: 32px;
}

.tabs button.active {
  color: var(--accent-color);
}

.tabs .content {
  margin-top: 40px;
}
