.wrapper {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper .modal {
  --modal-width: calc(var(--container-width) - (var(--layout-padding) * 2));
  width: 100%;
  max-width: var(--modal-width);
  border-radius: 4px;
  background-color: var(--background-color);
}

.wrapper .modal .header {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

.wrapper .modal .header .title {
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  font-family: var(--font-family-title);
  font-size: 40px;
  color: #9696b0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .modal .header .close {
  --size: 40px;
  --icon-size: 16px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  margin-left: 16px;
  background-color: transparent;
}

.wrapper .modal .header .close:not(:hover) {
  --color: #9fa2be;
}

.wrapper .modal .header .close:hover {
  --color: var(--accent-color);
}

.wrapper .modal .header .close svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.wrapper .modal .header .close svg path {
  fill: var(--color);
  transition-property: fill;
}

.wrapper .modal .content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
  padding: 20px var(--layout-padding);
}

.wrapper .modal .content .list {
  --gap: 28px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gap) * -1);
  margin-top: calc(var(--gap) * -1);
}

.wrapper .modal .content .list .item {
  flex-grow: 1;
  min-width: 0;
  width: 170px;
  max-width: 170px;
  margin-top: var(--gap);
  margin-left: var(--gap);
  padding: 12px;
  border-radius: 4px;
  background-color: var(--bg-color);
  transition-property: background-color;
  cursor: pointer;
}

.wrapper .modal .content .list .item .statistic_item {
  color: #9696b0;
}

.wrapper .modal .content .list .item:not(._is-checked):not(:hover) {
  --bg-color: var(--primary-color);
  --color: #9696b0;
}

.wrapper .modal .content .list .item:not(._is-checked):hover {
  --bg-color: var(--accent-color);
  --color: #000;
}

.wrapper .modal .content .list .item:not(._is-checked):hover .statistic_item{
  --color: #000;
}

.wrapper .modal .content .list .item._is-checked {
  --bg-color: #D79634;
  --bg-color: #ffb300;
  --color: #000;
}

.wrapper .modal .content .list .item .image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.wrapper .modal .content .list .item .image img{
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.wrapper .modal .content .list .item .name {
  --height: 20px;
  overflow: hidden;
  height: var(--height);
  margin-top: 8px;
  line-height: var(--height);
  text-align: center;
  font-size: 15px;
  color: var(--color);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: color;
}

.wrapper .modal .content .list .item .statistic_item{
  font-size: 11px;
  padding: 10px 5px 0;
  color: var(--color);
  font-weight: bold;
  white-space: nowrap;
}

.wrapper .modal .content .list .item .stats_item {
  display: flex;
  justify-content: center;
}

.wrapper .modal .footer {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

@media (max-width: 1400px) {
  .wrapper .modal .content {
    max-height: 420px;
  }

  .wrapper .modal .content .list .item .image {
    width: 100px;
    height: 100px;
  }
  .wrapper .modal .content .list .item{
    width: 160px;
    max-width: 160px;
  }
  .wrapper .modal .content .list .item .statistic_item{
    font-size: 10px;
    padding: 6px 5px 0;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper .modal {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
  }

  .wrapper .modal .header {
    flex-shrink: 0;
  }

  .wrapper .modal .header .title {
    font-size: 18px;
  }

  .wrapper .modal .header .button {
    --size: 30px;
    --icon-size: 12px;
  }

  .wrapper .modal .content {
    flex-grow: 1;
    min-height: 0;
    max-height: 100%;
  }

  .wrapper .modal .content .list .item {
    width: 150px;
    max-width: 150px;
  }

  .wrapper .modal .content .list .item .image {
    width: 120px;
    height: 120px;
  }

  .wrapper .modal .footer {
    flex-shrink: 0;
  }

  .wrapper .modal .footer .button span {
    font-size: 15px;
  }
}
@media (max-width: 320px){
  .wrapper .modal .content .list .item{
    width: 120px;
    max-width: 120px;
  }
  .wrapper .modal .content .list .item .image {
    width: 80px;
    height: 80px;
  }
  .wrapper .modal .content .list .item .statistic_item{
    font-size: 8px;
  }
}