.wrapper {
  display: block;
  width: 100%;
}

.wrapper .caption {
  --height: 20px;
  overflow: hidden;
  display: block;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  color: var(--accent-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .caption + .field {
  margin-top: 4px;
}

.wrapper .field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  background-color: var(--primary-color);
}

.wrapper .error {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 4px;
  color: var(--danger-color);
}