.wrapper {
  display: block;
  width: 100%;
}

.wrapper .caption {
  --height: 20px;

  overflow: hidden;
  display: block;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .caption + .field {
  margin-top: 4px;
}

.wrapper .field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  background-color: var(--primary-color);
}

.wrapper .field:global(._is-checkbox) {
  height: 24px;
  width: 24px;
}

.wrapper .field[type="date"]::-webkit-inner-spin-button,
.wrapper .field[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
}

.wrapper .field[type="date"]::-webkit-calendar-picker-indicator {
  padding: 4px 8px;
  color: var(--accent-color);
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
  cursor: pointer;
}

.wrapper .field:disabled {
  --icon-size: 16px;
  padding-right: 32px;
  background-color: #313444;
  background-size: var(--icon-size); 
  background-repeat: no-repeat;
  background-position: calc(100% - var(--icon-size) / 2) 50%;
  background-image: url('assets/icons/disabled_lock.svg');
}

.wrapper .error {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 4px;
  color: var(--danger-secondary-color);
}
