.home_page {
  display: flex;
  justify-content: space-between;
}

.bg_wrap {
  position: absolute;
  background: url('../../assets/bg-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 600px;
  opacity: 0.6;
}

.bg_wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #11162a 85%);
}

main {
  width: 81.25%;
  margin: 0 auto;
}

main h1 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  color: #9696B0;
  text-shadow: 0px 1px 1px #000000;
}

.content {
  margin-top: 50px;
  display: flex;
}

.form_container {
  flex-grow: 1;
  margin-left: 30px;
}

.form {
  background-color: var(--background-color);
  box-shadow: 0px 1px 1px #000000;
  padding: 16px;
  border-radius: 4px;
}

.form > div {
  display: flex;
  flex-direction: column;
}

.form > div:not(:first-of-type){
  margin-top: 30px;
}

.form > div label {
  color: #D79634;
}

.form > div input,
.form > div textarea {
  border: none;
  height: 60px;
  margin-top: 6px;
  background-color: #060916;
  box-shadow: 0px 1px 1px #000000;
  border-radius: 4px;
  text-indent: 12px;
  color: var(--accent-color);
}

.form > div textarea {
  resize: none;
  margin-bottom: 20px;
  padding: 12px;
  text-indent: 0px;
  height: auto;
}

.password_recovery {
  height: 75px;
  margin-top: 10px;
  margin-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
}

.password_recovery p {
  color: #787888;
}

.password_recovery a {
  color: #fff;
  text-decoration: underline;
  text-align: center;
}

.password_recovery a:hover {
  color: var(--accent-color);
}

@media (max-width: 1440px) {
  main {
    width: 90%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  main h1{
    font-size: 21px;
  }

  .content{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
  }
 
  .form_container{
    margin-left: 0;
    margin-top: 10px;
  }
  .password_recovery{
    font-size: 18px;
    padding: 50px 16px;
  }
}