.profile {
  padding: var(--layout-padding);
}

.form {
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  background-color: var(--background-color);
  box-shadow: 0px 1px 1px #000000;
  padding: 16px;
  border-radius: 4px;
}

.form label {
  padding-left: 8px;
  margin-top: 10px;
}

.form .save {
  margin-top: 14px;
}

.email {
  opacity: 0.85;
}

.position {
  display: flex;
  justify-content: space-between;
}

.position .field {
  width: 49%;
}

@media (max-width: 480px) {
  .position {
    flex-wrap: wrap;
  }
  .position .field {
    width: 100%;
  }
}