.container {
  padding: 20px 0;
}

.form_wrap {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form {
  width: 600px;
  margin: 0px auto;
  background-color: var(--background-color);
  box-shadow: 0px 1px 1px #000000;
  padding: 16px;
  border-radius: 4px;
}

.form>div {
  display: flex;
  flex-direction: column;
}

.form>div:not(:first-of-type) {
  margin-top: 16px;
}

.form>div label {
  padding-left: 8px;
}

.save {
  background: var(--accent-color);
  border: 0;
  border-radius: 4px;
  color: #000;
  height: 40px;
  padding: 0 20px;
}

.form .save {
  margin-top: 14px;
}