.dropdown {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.dropdown:not(:last-of-type) {
  margin-right: 8px;
}

.userbox {
  height: 50px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  font-family: var(--font-family-title);
  color: #9696B0;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.userbox span{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  font-size: 16px;
  white-space: nowrap;
}
.dropdown.active .userbox,
.userbox:hover {
  background-color: rgba(0, 0, 0, 1);
}

.userbox svg,
.userbox img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  pointer-events: none;
}

.menu {
  display: none;
  padding: 10px 20px;
  margin-top: 4px;
  min-width: 200px;
  position: absolute;
  right: 0;
  flex-direction: column;
  background-color: #252532;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 2;
}

.dropdown.active .menu {
  display: flex;
}

.menu a {
  color: #9FA2BE;
  text-shadow: 0px 2px 0px #000000;
  line-height: 2;
}

.menu a:hover {
  color: var(--accent-color);
}
@media screen and (max-width: 480px){
  .userbox{
    font-size: 18px;
  }
  .userbox span{
    width: 65px;
    font-size: 14px;
  }
  .menu a {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px){
  .userbox{
    font-size: 12px;
  }
  .userbox span{
    width: 40px;
  }
  .userbox svg,
  .userbox img {
    width: 25px;
    height: 25px;
}
  .links a {
    font-size: 14px;
  }
}