.dropdown {
  height: var(--header-height);
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.dropdown:not(:last-of-type) {
  margin-right: 8px;
}

.userbox {
  --avatar-size: 40px;

  height: var(--header-height);
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  font-family: var(--font-family-title);
  color: var(--header-color);
  background-color: var(--base-secondary-color);
  transition: all 0.3s;
}

.userbox span {
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 80px;
  max-width: 120px;
  font-size: 16px;
  white-space: nowrap;
  pointer-events: none;
  font-weight: var(--font-weight-bold);
}

.dropdown.active .userbox,
.userbox:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}

.userbox img {
  margin-right: 10px;
  pointer-events: none;
}

.userbox i {
  pointer-events: none;
}

.menu {
  padding: 10px 20px;
  margin-top: 4px;
  min-width: 200px;
  position: absolute;
  right: 0;
  flex-direction: column;
  background: var(--background-gradient);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
  transform: scale(0.5) translateY(-100px);
}

.dropdown.active .menu {
  display: flex;
  opacity: 1;
  z-index: 2;
  transform: scale(1) translateY(0);
}

.menu a {
  color: var(--header-color);
  line-height: 2;
  padding: 5px 0;
}

.menu a:hover {
  color: var(--accent-color);
}

.menu a:active {
  transform: scale(0.95);
}

@media screen and (max-width: 480px) {
  .userbox {
    font-size: 18px;
  }

  .userbox span {
    width: 25px;
    font-size: 14px;
    min-width: 25px;
  }

  .menu a {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .userbox {
    font-size: 12px;
  }

  .userbox img {
    width: 35px;
    height: 35px;
  }

  .links a {
    font-size: 14px;
  }
}
