.card {
  --width: 200px;
  --height: 240px;
  --color: #9FA2BE;
  --background-color: #000;
  width: var(--width);
  height: var(--height);
  padding: 16px;
  font-size: 20px;
  color: var(--color);
  border-radius: 4px;
  background-color: var(--background-color);
  cursor: pointer;
}

.card > img {
  width: 100%;
  border-radius: 4px;
}

.card.choosed,
.card:hover {
  --background-color: var(--accent-color);
  --color: #000;
}

@media screen and (max-width: 1368px) {
  .card {
    --width: 180px;
    --height: 210px;
    padding: 10px;
  }
}
@media screen and (max-width: 768px){
  .card{
    flex-basis: 49%;
    margin-bottom: 10px;
  }

}