.top_menu {	
  height: 60px;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

 .menu_wrap {	
  width: 81.25%;	
  display: flex;	
  align-items: center;	
  justify-content: space-between;	
}	

 .logo {	
  margin-right: auto;	
}	

 .top_menu a {	
  text-decoration: none;
}	

 .top_menu h2 {	
  margin: 0;	
  font-size: 20px;	
  font-family: var(--font-family-title);	
  font-weight: var(--font-weight-bold);	
  line-height: 40px;	
  color: rgb(252, 252, 252);
}	
.links{
  display: flex;
  align-items: center;
  margin-right: auto;
}
.links a:nth-child(2){
  margin-left: 60px;
  color: rgb(252, 252, 252);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);	
}
 @media(max-width: 1440px) {	
  .menu_wrap {	
    width: 90%;	
  }	
}	

 @media(max-width: 480px) {	
  .top_menu {	
    margin-bottom: 10px;	
  }	
  .links a:nth-child(2){
    margin-left: 20px;
    margin-right: 10px;
  }
} 