.topMenu {
  padding: 10px;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.menuWrap {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topMenu a {
  text-decoration: none;
}

.topMenu h2 {
  font-weight: var(--font-weight-bold);
  line-height: 40px;
  font-size: 20px;
  color: rgb(252, 252, 252);
  margin: 0;
  font-family: var(--font-family-title);
}