.top_menu {
  padding: 10px;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.menu_wrap {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: auto;
}

.top_menu a {
  text-decoration: none;
}

.top_menu h2 {
  font-family: var(--font-family-title);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 40px;
  color: rgb(252, 252, 252);
}