.transactions {
  width: 50%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding: 20px var(--layout-padding) 40px var(--layout-padding);
}

.transactions .title {
  --height: 50px;
  overflow: hidden;
  height: var(--height);
  line-height: var(--height);
  font-family: var(--font-family-title);
  color: #9696b0;
  font-size: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transactions_table {
  margin-top: 50px;
}

.operation {
  --height: 24px !important;
  --text-color: #fff;
  padding-left: calc(var(--height) / 3);
  padding-right: calc(var(--height) / 3);
  border-radius: calc(var(--height) / 2);
}

.operation.minus {
  background-color: #C62828;
}

.operation.plus {
  background-color: #2E7D32;
}

@media screen and (max-width: 480px){
  .transactions{
    width: 100%;
  }
  .transactions .title{
    font-size: 26px;
  }
  .transactions_table{
    margin-top: 20px;
  }
  .transactions .table .row .item .text{
    font-size: 12px;
  }
}