.transactions {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main {
  width: 40%;
}

.operation {
  --height: 24px !important;
  --text-color: #fff;
  padding-left: calc(var(--height) / 3);
  padding-right: calc(var(--height) / 3);
  border-radius: calc(var(--height) / 2);
}

.operation.minus {
  background-color: #C62828;
}

.operation.plus {
  background-color: #2E7D32;
}

@media screen and (max-width: 768px){
  .main {
    width: 45%;
  }
  .main h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 480px){
  .main {
    width: 95%;
  }
}