body {
  background-color: #11162a;
}

.bg_wrap {
  position: absolute;
  background-image: url('../assets/bg-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

.bg_wrap img {
  position: relative;
}

.bg_wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #11162a 85%);
}

.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
}

.login_page form {
  background-color: var(--background-color);
  padding: 80px 70px 55px 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  clip-path: polygon(22% 11%, 100% 0, 100% 100%, 0% 100%);
  border-radius: 2px;
}

.login_page input {
  background-color: var(--primary-color);
  border-radius: 2px;
  padding: 8px 10px;
  border: none;
  color: #fff;
  width: 260px;
  margin-bottom: 20px
}

.login_page label {
  font-size: 20px;
  color: var(--accent-color);
  margin-left: 0px;
  margin-bottom: 5px;
}

.login_page a {
  text-decoration: underline;
  cursor: pointer;
}

.login_btn {
  display: flex;
  align-items: center;
}

.bottom_login_btn>a {
  color: #fff;
}

.bottom_login_btn>span {
  margin-left: 10px;
}

.form_block {
  position: relative;
}

.form_block a {
  color: #fff
}

.btns>button {
  margin-bottom: 10px;
}

.info_block {
  position: absolute;
  left: -60px;
  padding: 40px 410px 40px 50px;
  font-size: 20px;
  color: var(--accent-color);
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  width: 50px;
}

@media(max-width: 1440px) {
  .start_content h1 {
    font-size: 140px;
    line-height: normal;
    width: 500px;
  }
  .info_block {
    left: -40px;
    padding: 40px 390px 40px 40px;
  }
  .login_page form {
    padding: 90px 90px 45px 220px;
  }
}

@media(max-width: 1024px) {
  .login_page form {
    padding: 90px 90px 45px 220px;
  }
  .info_block {
    left: -40px;
    padding: 40px 390px 40px 40px;
  }
}

@media screen and (max-width: 768px) {
  .start_content h1 {
    font-size: 120px;
    line-height: normal;
    width: 500px;
  }
  .login_page form {
    clip-path: polygon(10% 10%, 100% 0px, 100% 100%, 0% 100%);
    padding-left: 60px;
  }
  .login_page input {
    width: 200px
  }
  .login_btn {
    display: flex;
    align-items: center;
    flex-direction: column
  }
  .login_btn>button {
    margin-bottom: 10px;
  }
  .start_content button {
    padding: 30px 150px 20px 150px;
  }
  .info_block {
    left: -90px;
    padding: 40px 290px 40px 40px;
  }
}

@media screen and (max-width: 700px) {
  .info_block {
    width: 230px;
    left: 40px;
    top: -70px;
    padding: 40px 30px 40px 40px;
    ;
  }
  .start_content {
    align-items: center;
  }
  .start_content>h1 {
    width: min-content;
    font-size: 80px
  }
  .start_btns>a>button {
    padding: 30px 120px 20px;
  }
}

@media screen and (max-width: 320px) {
  .form_block>form {
    padding: 70px 40px 40px 50px;
  }
  .info_block {
    padding: 40px 0px 40px 30px;
  }
}