.overlay {
  display: flex;
  width: 100vw;
  height: calc(100vh + 60px);
  justify-content: flex-end;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.overlay .sidebar {
  width: 460px;
  height: 100vh;
  background-color: #080812;
}

.overlay .sidebar .header {
  height: 60px;
  width: 100%;
  padding-left: 16px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.overlay .sidebar .header .title {
  font-weight: 400;
}

.overlay .sidebar .header .close {
  margin-top: 8px;
}

.overlay .sidebar .content {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.overlay .sidebar .content .wrapper_n {
  position: static;
}

.overlay .sidebar .content .wrapper_n + .wrapper_n {
  margin-top: 16px;
} 

.overlay .sidebar .content .notification {
  position: relative;
  top: 0;
}

/* .overlay .sidebar .content .notification + .notification {
} */