.summoners {
  max-width: 410px;
}

.summoners .header {
  --summoners-header-height: 28px;

  display: flex;
  align-items: center;
}

.summoners .applyButton {
  margin-bottom: 16px;
}

.summoners .header h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--caption-color);
}

.summoners .header .button {
  flex-shrink: 0;
  height: var(--summoners-header-height);
  margin-left: auto;
  line-height: var(--summoners-header-height);
  font-size: 15px;
  color: var(--accent-color);
  font-weight: 600;
  background-color: transparent;
  transition-property: color;
}

.summoners .empty {
  margin-bottom: 12px;
  font-size: 14px;
  color: #fff;
}

.summoners .content .table .row {
  --color: var(--caption-color);
  cursor: pointer;
}

.summoners .content .table .row:hover {
  --color: var(--accent-color);
}

.summoners .content .table .row .item .text {
  color: var(--color);
}

.summoners .content .table .row .is_winner {
  margin-left: 6px;
  color: var(--accent-color);
}

.summoners .content .table .row .is_streamer {
  --icon-size: 12px;
  --icon-color: var(--accent-color);

  margin-left: 4px;
}

.summoners .content .table .row .item:not(:last-of-type) {
  box-shadow: none;
}

.summoners .content .table .row .points {
  margin-left: auto;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: var(--accent-color);
}
