.summoners {
  margin-left: 70px;
}

.summoners .header {
  --summoners-header-height: 28px;

  display: flex;
  align-items: center;
}

.summoners .header .button {
  flex-shrink: 0;
  height: var(--summoners-header-height);
  margin-left: auto;
  line-height: var(--summoners-header-height);
  font-size: 15px;
  color: var(--accent-color);
  font-weight: 600;
  background-color: transparent;
  transition-property: color;
}

.summoners .empty {
  margin-bottom: 12px;
  font-size: 16px;
  color: #fff;
}

.summoners .content {
  /* flex-grow: 1; */

  /* display: flex; */

  /* flex-direction: column; */
}

.summoners .content .table {
  margin-left: -16px;
}
