.summoners {
  margin-left: 55px;
}

.summoners .header {
  --summoners-header-height: 28px;

  display: flex;
  align-items: center;
}

.summoners .header h4 {
  font-size: 18px;
  color: #fff;
}

.summoners .header .button {
  flex-shrink: 0;
  height: var(--summoners-header-height);
  margin-left: auto;
  line-height: var(--summoners-header-height);
  font-size: 15px;
  color: var(--accent-color);
  font-weight: 600;
  background-color: transparent;
  transition-property: color;
}

.summoners .empty {
  margin-bottom: 12px;
  font-size: 16px;
  color: #fff;
}

.summoners .content {
  margin-top: 12px;
}

.summoners .content .table {
  margin-left: -16px;
}

.summoners .content .table .row {
  --row-height: 30px;
  --bg-color: transparent;
  --background-color: transparent;

  box-shadow: none;
}

.summoners .content .table .row .item {
  flex-grow: 0;
}

.summoners .content .table .row .is_winner {
  color: var(--accent-color);
  font-weight: var(--font-weight-regular);
}

.summoners .content .table .row .item:not(:last-of-type) {
  box-shadow: none;
}

.summoners .content .table .row .points {
  margin-left: auto;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: var(--accent-color);
}
