.wrapper {
  display: block;
  width: 100%;
}

.wrapper .caption {
  --height: 20px;

  overflow: hidden;
  display: block;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  color: var(--accent-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.wrapper .caption + .field {
  margin-top: 4px;
}

.wrapper .input {
  display: none;
}

.wrapper .field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  background-color: var(--primary-color);
}

.wrapper .field:global(._is-checkbox) {
  height: 24px;
  width: 24px;
}

.wrapper .field[type="date"]::-webkit-inner-spin-button,
.wrapper .field[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
}

.wrapper .field[type="date"]::-webkit-calendar-picker-indicator {
  padding: 4px 8px;
  color: var(--accent-color);
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
  cursor: pointer;
}

.wrapper .status_upload {
  color: #fafafa;
  font-size: 15px;
  margin-right: 12px;
}

.wrapper .button_upload {
  background: var(--accent-color);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.wrapper .button_upload:hover {
  background: #ed9a1b;
}

.wrapper .error {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 4px;
  color: var(--danger-secondary-color);
}
