.wrapper {
  display: block;
  width: 100%;
}

.wrapper.alignLeft {
  display: grid;
  grid-template-columns: var(--label-width, min-content) 1fr;
  grid-column-gap: 8px;
  align-items: center;
}

.wrapper .caption {
  --height: 20px;

  overflow: hidden;
  display: block;
  height: var(--height);
  line-height: var(--height);
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .caption + .field {
  margin-top: 4px;
}

.wrapper .error {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 4px;
  color: var(--danger-secondary-color);
}

@media screen and (max-width: 480px) {
  .wrapper.alignLeft {
    grid-template-columns: 1fr;
    grid-row-gap: 4px;
  }
}
