.login_page{
  min-height: calc(100% - var(--header-height));
  background-color: #000;
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
}

.login_page .login_section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
}

.start_content .wrap_layout{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.start_content .front_layout{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start_content h1 {
  font-size: 70px;
  line-height: normal;
  width: 340px;
  margin: 0 0 100px;
  font-family: var(--font-family-title);
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  color: #f1f1f1;
  text-transform: uppercase;
  text-align: center;
}

.start_content button {
  background-color: #f1f1f1;
  padding: 10px 16px;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
  transition: all 0.3s;
}

.start_content .google_icon{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.start_btns span{
  /* position: absolute;
  top: 0px;
  left: 44px;
  z-index: 1; */
  display: flex;
  align-items: center;
  font-size: 16px;
}
.start_btns .back_button{
  position: absolute;
  top: center;
  right: center;
}
.start_content .start_btns {
  display: flex;
  flex-direction: column;
  align-items: center
}

.start_btns a {
  color: #fff;
}

.guide {
  max-width: 81.75%;
  margin-left: auto;
  margin-right: auto;
}

.guide .step {
  display: flex;
  justify-content: space-between;
  color: var(--caption-color);
  text-shadow: 0px 2px 0px #000000;
  padding-bottom: 70px;
  box-shadow: 0px 1px 0px 0px rgba(37, 37, 50, 1);
}

.guide .step:not(:first-of-type) {
  padding-top: 70px;
}

.guide .step > div {
  flex-basis: 47.5%;
}

.guide .step.align_right > div:nth-of-type(2) {
  order: -1;
}

.guide .step > div img {
  width: 100%;
  height: auto;
}

.guide .step h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.guide .step p:first-of-type {
  margin-top: 0;
}

.guide .step p {
  font-size: 20px;
}

.start_content video{
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.2;
}
.login_section {
  min-height: 750px;
}

@media (max-width: 1024px) {
  .login_section{
    min-height: 590px;
  }

  .login_page form {
    padding: 90px 90px 45px 220px;
  }

  .info_block {
    left: -40px;
    padding: 40px 390px 40px 40px;
  }

}

@media (max-width: 768px) {

  .guide .step:not(:first-of-type),
  .guide .step {
    padding-bottom: 30px;
  }

  .guide .step h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .guide .step p {
    font-size: 18px;
  }

}

@media (max-width: 700px) {

  .start_content h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 235px;
    font-size: 48px;
  }

  .start_content video{
    display: none;
  }

  .login_page{
    min-height: calc(100% - var(--header-height));
    background-image: url('assets/bg-login-min.png');
    background-color: #000;
    background-repeat: no-repeat;
    background-size: auto 45%;
    background-position-x: 57%;
  }

  .start_content .front_layout{
    width: 250px;
  }

  .guide .step {
    flex-wrap: wrap;
  }

  .guide .step > div {
    flex-basis: 100%;
  }

  .guide .step.align_right > div:nth-of-type(2) {
    order: 0;
  }

  .guide .step:not(:first-of-type) {
    padding-top: 30px;
  }

}
