.login_page{
  min-height: calc(100% - var(--header-height));
  background-image: url('assets/bg-login.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.login_page .login_section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
}

.start_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.start_content h1 {
  font-size: 70px;
  line-height: normal;
  width: 310px;
  margin: 0 0 100px;
  font-family: var(--font-family-title);
}

.start_content button {
  background-color: #FFA928;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  padding: 30px 100px 20px 90px;
  clip-path: polygon(90.39% 22px, 100% 100%, 0% 100%, 0.09% 4.23%);
  cursor: pointer;
  margin: 0 0 20px 20px;
}

.start_content .start_btns {
  display: flex;
  flex-direction: column;
  align-items: center
}

.start_btns a {
  color: #fff;
}

.guide {
  max-width: 81.75%;
  margin-left: auto;
  margin-right: auto;
}

.guide .step {
  display: flex;
  justify-content: space-between;
  color: var(--caption-color);
  text-shadow: 0px 2px 0px #000000;
  padding-bottom: 70px;
  box-shadow: 0px 1px 0px 0px rgba(37, 37, 50, 1);
}

.guide .step:not(:first-of-type) {
  padding-top: 70px;
}

.guide .step > div {
  flex-basis: 47.5%;
}

.guide .step.align_right > div:nth-of-type(2) {
  order: -1;
}

.guide .step > div img {
  width: 100%;
  height: auto;
}

.guide .step h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 36px;
  text-transform: uppercase;
}

.guide .step p:first-of-type {
  margin-top: 0;
}

.guide .step p {
  font-size: 24px;
}


@media (max-width: 1024px) {

  .login_page form {
    padding: 90px 90px 45px 220px;
  }

  .info_block {
    left: -40px;
    padding: 40px 390px 40px 40px;
  }

}

@media (max-width: 768px) {

  .guide .step:not(:first-of-type),
  .guide .step {
    padding-bottom: 30px;
  }

  .guide .step h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .guide .step p {
    font-size: 18px;
  }

}

@media (max-width: 700px) {

  .start_content h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 280px;
    font-size: 48px;
  }

  .guide .step {
    flex-wrap: wrap;
  }

  .guide .step > div {
    flex-basis: 100%;
  }

  .guide .step.align_right > div:nth-of-type(2) {
    order: 0;
  }

  .guide .step:not(:first-of-type) {
    padding-top: 30px;
  }

}
