.wrapper .content {
  padding-top: var(--layout-padding);
}

.wrapper .content .field:nth-of-type(n+2) {
  margin-top: 12px;
}

.wrapper .content .field + .summoner {
  margin-top: 32px;
}

.wrapper .content .team_name_wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

.wrapper .content .team_name_wrapper .team_name {
  overflow: hidden;
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .content .team_name_wrapper .divider {
  flex-grow: 1;
  min-width: 0;
  height: 1px;
  margin-left: 12px;
  background-color: #fff;
}

.wrapper .content .summoner {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper .content .summoner + .summoner {
  margin-top: 20px;
}

.wrapper .content .summoner .name {
  color: var(--caption-color);
  grid-column: 1 / -1;
}
