.wrapper .content {
  padding-top: var(--layout-padding);
}

.wrapper .content .fetch {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.wrapper .content .fetch .field {
  width: 340px;
}

.wrapper .content .fetch .button {
  margin-bottom: 12px;
  margin-left: auto;
}

.wrapper .content .table {
  margin-bottom: 30px;
}

.wrapper .content .table .row {
  --background-color: rgba(0, 0, 0, 0.2);
}

.wrapper .content .last_matches {
  display: flex;
  align-items: center;
}

.wrapper .content .field:nth-of-type(n+2) {
  margin-top: 12px;
}

.wrapper .content .field + .summoner {
  margin-top: 32px;
}

.wrapper .content .teams {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.wrapper .content .teams > .team {
  --height: 40px;

  overflow: hidden;
  height: var(--height);
  padding-left: 10px;
  padding-right: 10px;
  line-height: var(--height);
  font-size: 15px;
  color: #fff;
  border-radius: 4px;
  background-color: var(--primary-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .content .teams > .delimiter {
  --height: 16px;

  overflow: hidden;
  flex-shrink: 0;
  height: var(--height);
  padding-left: 12px;
  padding-right: 12px;
  line-height: var(--height);
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .content .team_name_wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

.wrapper .content .team_name_wrapper .team_name {
  overflow: hidden;
  font-size: 26px;
  color: #fff;
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .content .team_name_wrapper .divider {
  flex-grow: 1;
  min-width: 0;
  height: 1px;
  margin-left: 12px;
  background-color: #fff;
}

.wrapper .content .summoner {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper .content .summoner + .summoner {
  margin-top: 20px;
}

.wrapper .content .summoner .name {
  color: var(--caption-color);
  grid-column: 1 / -1;
  font-size: 18px;
  font-weight: 400;
}
