.wrapper {
  --width: 768px;
}

.wrapper .modal_content {
  padding-top: var(--layout-padding);
}

.wrapper .modal_content .select {
  width: 100%;
}

.wrapper .modal_content .select select {
  height: 40px;
  cursor: pointer;
}

.wrapper .modal_content :global(.row) {
  --background-color: #0c112b;
}

.wrapper .modal_content .button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--row-height);
  height: var(--row-height);
}
