.wrapper {
  --width: 768px;
}

.wrapper .modal_content {
  padding-top: var(--layout-padding);
}

.wrapper .modal_content .select {
  width: 100%;
}

.wrapper .modal_content .select select {
  height: 40px;
  cursor: pointer;
}

.wrapper .modal_content :global(.row) {
  --background-color: #0c112b;
}

.wrapper .modal_content .button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--row-height);
  height: var(--row-height);
  background-color: var(--background-color);
  transition-property: background-color;
}

.wrapper .modal_content .button.danger:not(:hover) {
  --background-color: #af3a3a;
}

.wrapper .modal_content .button.danger:hover {
  --background-color: #d43131;
}

.wrapper .modal_content .button:not(:hover) {
  --background-color: #101027;
}

.wrapper .modal_content .button:hover {
  --background-color: #1c1c3e;
}

.wrapper .modal_content .button i {
  --icon-size: 18px;
  --icon-color: #fff;
}
