.summoners {
  max-width: 410px;
}

.summoners .applyButton {
  margin-bottom: 16px;
}

.summoners .header .button {
  flex-shrink: 0;
  height: var(--summoners-header-height);
  line-height: var(--summoners-header-height);
  font-size: 15px;
  color: var(--accent-color);
  font-weight: 600;
  background-color: transparent;
  transition-property: color;
}

.summoners .header .button + .button {
  margin-left: 12px;
}

.summoners .header .button:hover {
  --color: #e88c00;
}

.summoners .content .button {
  margin-top: 8px;
}

.summoners .content .table .row {
  --color: var(--caption-color);

  cursor: pointer;
}

.summoners .header .button:not(:hover),
.summoners .content .table .row:hover {
  --color: var(--accent-color);
}

.summoners .content .table .row .item .text {
  color: var(--color);
}

.summoners .content .table .row .is_winner {
  margin-left: 6px;
  color: var(--accent-color);
}

.summoners .content .table .row .is_streamer {
  --icon-size: 12px;
  --icon-color: var(--accent-color);

  margin-left: 4px;
}

.summoners .table .row .cell {
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  background-color: var(--color);
}

.summoners .table .row .cell.user-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.summoners .content .table .row .item:not(:last-of-type) {
  box-shadow: none;
}

.summoners .content .table .row .points {
  margin-left: auto;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.summoners .table .row .action {
  flex-shrink: 0;
}

.summoners .table .row .action i circle {
  fill: var(--color);
  transition-property: fill;
}
